{if !empty($perms['parent']) || $userInfo['role'] == 'operator'}

{if $action=='userpost'}
<div class="form-group">
    <label class="col-lg control-label">查看权限</label>
    <div class="col-lg-10">
        <label class="radio-inline"><input type="radio" name="look_switch" value="0" {if empty($item['look_switch'])}checked="true"{/if} /> 隐藏</label>
        <label class="radio-inline"><input type="radio" name="look_switch" value="1" {if $item['look_switch'] == 1}checked="true"{/if}/> 查看</label>
    </div>
</div>
<div class="form-group">
    <label class="col-lg control-label">权限设置</label>
    <div class="col-lg-10">
        <label class="radio-inline"><input type="radio" name="is_limit" value="0" {if empty($item['is_limit'])}checked="true"{/if} /> 不限权限</label>
        <label class="radio-inline"><input type="radio" name="is_limit" value="1" {if $item['is_limit'] == 1}checked="true"{/if}/> 限定权限</label>
        <span class="help-block">注意：不限制权限，用户将拥有已分配应用内的所有菜单权限</span>
    </div>
</div>
{/if}

<div class="form-group" id="app-perm" style="{if empty($item['is_limit']) && $action=='userpost'}display:none;{/if}">
    <label class="col-lg control-label">应用权限</label>
    <div class="col-sm-9 col-xs-12">
        {foreach $perms['parent'] as $key => $value}
        <label class="checkbox-inline">
            {php}$isRoleApp = in_array($key, (array)$role_app_perms);$isUserApp = in_array($key, (array)$app_perms);{/php}
            <input type="checkbox" name="app_perms[]" value="{$key}"
                {if $isRoleApp || $isUserApp} checked{/if}
                {if $isRoleApp && $action=='userpost'} disabled{/if}
            >  <b>{$value['text']}</b>{if $isRoleApp && $action=='userpost'}<span style="color:#999"> [角色权限]</span>{/if}
        </label>
        {/foreach}
        <span class="help-block">启用应用权限后，用户将拥有该应用的所有权限，级别高于操作权限</span>
    </div>
</div>

<div class="form-group" id="role-perm" style="{if empty($item['is_limit']) && $action=='userpost'}display:none;{/if}">
    <label class="col-lg control-label">操作权限</label>
    <div class="col-sm-9 col-xs-12">
        <div id="accordion" class="panel-group">
            <div class='panel panel-default'>

                {php}$i=0;{/php}

                {foreach $perms['parent'] as $key => $value}

                    <div class='panel-heading' style="background:#f8f8f8;border-bottom: 1px solid #efefef;display:{if !in_array($key,(array)$operator_perms) && $userInfo['role'] == 'operator'}none{/if};" >
                        <a class="btn btn-link btn-sm pull-right" data-toggle="collapse" data-parent="#accordion" href="#collapse_{$key}"><i class='icon icon-chevron-down'></i> 展开</a>
                        <label class='checkbox-inline' title="{$key}">
                            {php}$isRoleG = in_array($key, (array)$role_perms);$isUserG = in_array($key, (array)$user_perms);{/php}
                            <input type='checkbox' id="perm_{$key}" value='{$key}' class='perm-all perms' data-group='{$key}'
                                    {if $isRoleG || $isUserG} checked{/if}
                                    {if $isRoleG && $action=='userpost'} disabled{/if}
                            /> {$value['text']}{if $isRoleG && $action=='userpost'}<span style="color:#999"> [角色]</span>{/if}
                        </label>
                    </div>

                    <div id="collapse_{$key}" class="panel-collapse {if $i==0}in{else}collapse{/if}">

                        <div class='panel-body perm-group'>
                            {if count($perms['parent'][$key]) >1}
                                <span>
                                    {foreach $perms['parent'][$key] as $ke => $val}
                                        {if $ke != 'text'}
                                             <label class='checkbox-inline'>
                                                 {php}$pk2=$key.'.'.$ke;$isR2=in_array($pk2,(array)$role_perms);{/php}
                                                 <input type='checkbox' value='{$pk2}' class='perm-item perms' data-group='{$key}' data-parent='text'
                                                    checked{if $isR2 && $action=='userpost'} disabled{/if} />  {:str_replace("-log", "", $val)}{if $isR2 && $action=='userpost'}<span style="color:#999"> [角色]</span>{/if}
                                             </label>
                                        {else}
                                             <label class='checkbox-inline'>
                                                 {php}$isRg=in_array($key,(array)$role_perms);{/php}
                                                 <input type='checkbox' value='{$key}' class='perm-all-item perms' data-group='{$key}' data-parent='text'
                                                    checked{if $isRg && $action=='userpost'} disabled{/if} />  <b>{:str_replace("-log", "", $val)}</b>{if $isRg && $action=='userpost'}<span style="color:#999"> [角色]</span>{/if}
                                             </label>
                                        {/if}
                                    {/foreach}
                                </span>
                                <br>
                            {/if}

                            {if !empty($perms['son'][$key])}

                            {foreach $perms['son'][$key] as $ke => $val}
                                <div class="menu-group">
                                    {if !empty($val)}
                                        <span>
                                        {foreach $val as $k => $v}
                                            {if $k != 'text'}
                                                <label class='checkbox-inline' style="display: {if !in_array($key.'.'.$ke.'.'.$k,(array)$operator_perms) && $userInfo['role'] == 'operator'}none;{/if}">
                                                    {php}$pFull=$key.'.'.$ke.'.'.$k;$isRoleP=in_array($pFull,(array)$role_perms);$isUserP=in_array($pFull,(array)$user_perms);{/php}
                                                    <input type='checkbox' value='{$pFull}' class='perm-item perms' data-group='{$key}' data-parent='{$ke}' data-son="{$k}"
                                                        {if $isRoleP || $isUserP} checked{/if}
                                                        {if $isRoleP && $action=='userpost'} disabled{/if}
                                                    />  {:str_replace("-log", "", $v)}{if $isRoleP && $action=='userpost'}<span style="color:#999"> [角色]</span>{/if}
                                                </label>
                                            {else}
                                                <label class='checkbox-inline' style="display: {if !in_array($key.'.'.$ke,(array)$operator_perms) && $userInfo['role'] == 'operator'}none;{/if}">
                                                    {php}$pGrp=$key.'.'.$ke;$isRoleG=in_array($pGrp,(array)$role_perms);$isUserG=in_array($pGrp,(array)$user_perms);{/php}
                                                    <input type='checkbox' value='{$pGrp}' class='perm-all-item perms groups' data-group='{$key}' data-parent='{$ke}' data-son="{$k}"
                                                        {if $isRoleG || $isUserG} checked{/if}
                                                        {if $isRoleG && $action=='userpost'} disabled{/if}
                                                    />  <b>{:str_replace("-log", "", $v)}</b>{if $isRoleG && $action=='userpost'}<span style="color:#999"> [角色]</span>{/if}
                                                </label>
                                            {/if}
                                        {/foreach}
                                        </span><br>
                                    {/if}

                                    {php}$parentKe = $ke;{/php}
                                    <div style="margin-left: 25px;">
                                        {foreach $perms['grandson'][$key] as $ke => $val}
                                            {foreach $val as $k => $v}
                                                {if !empty($v) && $ke == $parentKe}
                                                    <span>
                                                        {foreach $v as $kk => $vv}
                                                            {if $kk != 'text'}
                                                                 <label class='checkbox-inline'>
                                                                     {php}$pGs=$key.($ke?'.'.$ke:'').($k?'.'.$k:'').($kk?'.'.$kk:'');$isRoleGs=in_array($pGs,(array)$role_perms);$isUserGs=in_array($pGs,(array)$user_perms);{/php}
                                                                     <input type='checkbox' value='{$pGs}' class='perm-item perms'
                                                                            data-group='{$key}' data-parent='{$parentKe}' data-son="{$k}" data-grandson="{$kk}"
                                                                            {if $isRoleGs || $isUserGs} checked{/if}
                                                                     {if $isRoleGs && $action=='userpost'} disabled{/if}
                                                                     />  {:str_replace("-log", "", $vv)}{if $isRoleGs && $action=='userpost'}<span style="color:#999"> [角色]</span>{/if}
                                                                 </label>
                                                            {else}
                                                                 <label class='checkbox-inline'>
                                                                     {php}$pGsAll=$key.'.'.$ke.'.'.$k;$isRoleGsa=in_array($pGsAll,(array)$role_perms);$isUserGsa=in_array($pGsAll,(array)$user_perms);{/php}
                                                                     <input type='checkbox' value='{$pGsAll}' class='perm-all-item perms groups-item'
                                                                            data-group='{$key}' data-parent='{$parentKe}' data-son="{$k}" data-grandson="{$kk}"
                                                                            {if $isRoleGsa || $isUserGsa} checked{/if}
                                                                     {if $isRoleGsa && $action=='userpost'} disabled{/if}
                                                                     />  <b>{:str_replace("-log", "", $vv)}</b>{if $isRoleGsa && $action=='userpost'}<span style="color:#999"> [角色]</span>{/if}
                                                                 </label>
                                                            {/if}
                                                        {/foreach}
                                                     </span><br>
                                                {/if}
                                            {/foreach}
                                        {/foreach}
                                    </div>
                                </div>
                            {/foreach}
                            {/if}
                        </div>
                    </div>

                    {php}$i++;{/php}
                {/foreach}

            </div>
        </div>
    </div>
    <input type="hidden" name="permsarray" value="">
</div>

<script>
    require(['bootstrap'], function ($) {

        $('.perm-all').click(function () {
            let checked = $(this).get(0).checked;
            let group = $(this).data('group');
            $(".perm-item[data-group='" + group + "'],.perm-all-item[data-group='" + group + "']").each(function () {
                $(this).get(0).checked = checked;
            })
        });

        $('.perm-all-item').click(function () {
            let checked = $(this).get(0).checked;
            let group = $(this).data('group');
            let isGroup = $(this).hasClass('groups');

            $(this).parents("span").find(".perm-item").each(function () {
                $(this).get(0).checked = checked;
            });

            if( isGroup ){
                $(this).parents(".menu-group").find(".groups-item,.perm-item").each(function () {
                    $(this).get(0).checked = checked;
                });
            }else{
                $(this).parents(".menu-group").find(".groups").each(function () {
                    $(this).get(0).checked = checked;
                });
            }

            group_check(this);
        });

        $('.perm-item').click(function () {
            let check = false;
            $(this).closest('span').find(".perm-item").each(function () {
                if (this.checked) { check = true; return false; }
            });

            let allitem = $(this).parents("span").find(".perm-all-item");
            if (allitem.length === 1) { allitem.get(0).checked = check; }
            group_check(this);
        });

        $(".panel-body").find("span").each(function (index, item) {
            if ($(this).find("label").length !== 1) {
                $($(this).find("label").get(0)).wrap("<div class='col-sm-2' style='white-space:nowrap;'></div>");
                $($(this).find("label").not($(this).find("label").get(0))).wrapAll("<div class='col-sm-10'></div>");
            } else {
                $($(this).find("label").get(0)).wrap("<div class='col-sm-12'></div>");
            }
        });

        $("form").submit(function () {
            let perms = [];
            $(".perms:checked").each(function (index, e) { perms[index] = $(this).val(); });
            $("input[name=permsarray]").val(perms.join(','));
            return true;
        });

        $("input[name=look_switch],input[name=is_limit]").click(function(){
            let show = $("input[name=is_limit]:checked").val() == 1;
            $("#role-perm").toggle(show);
        });
    });

    function group_check(obj) {
        let check = false;
        $(obj).parents('.perm-group').find(":checkbox").each(function (index, item) {
            if (item.checked) { check = true; }
        });
        let group = $(obj).eq(0).data('group');
        $(".perm-all[data-group=" + group + "]").get(0).checked = check;
    }
</script>
{/if}
