{extend name="../../admin/view/public/admin"}

{block name='content'}

<div class="page-header">当前位置：<span class="text-primary">应用设置</span></div>

<style>
    .tabs-container .form-group {overflow: hidden;}
    .tabs-container .tabs-left > .nav-tabs {}
    .tab-goods .nav li {float:left;}
</style>

<div class="page-content">

    <form action="" method="post" class="form-horizontal form-validate" enctype="multipart/form-data">
        <input type="hidden" id="tab" name="tab" value="{if empty($_GPC['tab'])}#tab_basic{else}#tab_{$_GPC['tab']}{/if}" />

        <div class="tabs-container tab-goods">
            <div class="tabs-left">
                <ul class="nav nav-tabs" id="myTab">
                    <li  {if empty($_GPC['tab']) || $_GPC['tab']=='basic'}class="active"{/if}><a href="#tab_basic">后台设置</a></li>
                    <li  {if $_GPC['tab']=='website'}class="active"{/if}><a href="#tab_website">前台设置</a></li>
                    <li  {if $_GPC['tab']=='contact'}class="active"{/if}><a href="#tab_contact">联系我们</a></li>
                    <li  {if $_GPC['tab']=='sms'}class="active"{/if}><a href="#tab_sms">短信设置</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-content">

                        <div class="tab-pane {if empty($_GPC['tab']) || $_GPC['tab']=='basic'}active{/if}" id="tab_basic">
                            <div class="panel-body">{include file='web/sets/tab/basic'}</div>
                        </div>

                        <div class="tab-pane {if $_GPC['tab']=='contact'}active{/if}" id="tab_contact">
                            <div class="panel-body">{include file='web/sets/tab/contact'}</div>
                        </div>

                        <div class="tab-pane {if $_GPC['tab']=='website'}active{/if}" id="tab_website">
                            <div class="panel-body">{include file='web/sets/tab/website'}</div>
                        </div>

                        <div class="tab-pane {if $_GPC['tab']=='sms'}active{/if}" id="tab_sms">
                            <div class="panel-body">{include file='web/sets/tab/sms'}</div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-lg control-label"></label>
            <div class="col-sm-9 col-xs-12">
                <input type="submit" value="提交" class="btn btn-primary"/>
            </div>
        </div>

    </form>



</div>

{/block}