APP_DEBUG = falseDEFAULT_APP = admin[CACHE]driver=filehost=127.0.0.1port=6379password=prefix=h7php[DATABASE]TYPE = mysqlHOSTNAME = 127.0.0.1DATABASE = h7phpUSERNAME = rootPASSWORD = rootHOSTPORT = 3306CHARSET = utf8DEBUG = truePREFIX = ims_