[submodule "app/jt_mail"]
	path = app/jt_mail
	url = https://gitee.com/xingshuos/jt_mail.git
[submodule "app/xs_test"]
	path = app/xs_test
	url = https://gitee.com/xingshuos/xs_test.git
[submodule "app/xs_store"]
	path = app/xs_store
	url = https://gitee.com/xingshuos/xs_store.git
[submodule "app/xs_developer"]
	path = app/xs_developer
	url = https://gitee.com/xingshuos/xs_developer.git
[submodule "app/jt_h5"]
	path = app/jt_h5
	url = https://gitee.com/xingshuos/jt_h5.git
[submodule "app/xs_article"]
    path = app/xs_article
    url = https://gitee.com/xingshuos/xs_article.git
[submodule "app/xs_cloud"]
	path = app/xs_cloud
	url = https://gitee.com/xingshuos/xs_cloud.git
[submodule "app/xs_doc"]
	path = app/xs_doc
	url = https://gitee.com/xingshuos/xs_doc.git
[submodule "app/easy_shop"]
	path = app/easy_shop
	url = http://47.110.82.117:8099/xsframe/easy_shop.git
[submodule "app/xs_pointsshop"]
	path = app/xs_pointsshop
	url = https://gitee.com/xingshuos_admin/xs_pointsshop.git
[submodule "app/zn_anime"]
	path = app/zn_anime
	url = https://gitee.com/xingshuos_admin/zn_anime.git
[submodule "app/zy_map"]
	path = app/zy_map
	url = https://gitee.com/xingshuos_admin/zy_map.git
[submodule "app/xs_country"]
	path = app/xs_country
	url = http://47.110.82.117:8099/xsframe/xs_country.git
[submodule "app/xs_lnxh"]
	path = app/xs_lnxh
	url = https://gitee.com/xingshuos_admin/xs_lnxh.git
[submodule "app/xs_college"]
	path = app/xs_college
	url = https://gitee.com/xingshuos_admin/xs_college.git
