/*公共样式*/
:root {
    /*主色*/
    --primary-color: #2d8cf0; /*主题*/
    --primary-light-color: #5cadff; /*主题 加亮*/
    --primary-dark-color: #2b85e4; /*主题 加深*/
    --primary-black-color: #333333; /*主题 黑色*/
    --primary-grey-color: #9b9b9b; /*主题 灰色*/

    /*按钮色*/
    --success-color: #19be6b; /*成功*/
    --warning-color: #ff9900; /*警告*/
    --danger-color: #ed4014; /*失败*/
    --info-color: #2db7f5; /*默认*/

    /*文字色*/
    --title-color: #17233d; /*标题 title*/
    --content-color: #515a6e; /*正文 Content*/
    --sub-color: #808695; /*辅助/图标 Sub Color*/
    --disabled-color: #c5c8ce; /*失效 Disabled*/

    /*边框色*/
    --border-base-color: #DCDFE6; /*边框 Border*/
    --border-divider-color: #E4E7ED; /*分割线 Divider*/

    /*背景色*/
    --background-page-color: #f8f8f8; /*页面背景*/
    --background-black-color: #1f2730; /*黑色背景*/
    --background-white-color: #ffffff; /*白色背景*/
    --background-transparent-color: transparent; /*透明背景*/
}

@media (min-width: 767px) {
    :root {
        --main-width: 100%;
    }
}

@media (min-width: 768px) {
    :root {
        --main-width: 768px;
    }
}

@media (min-width: 992px) {
    :root {
        --main-width: 992px;
    }
}

@media (min-width: 1200px) {
    :root {
        --main-width: 1200px;
    }
}

.container {
    width: var(--main-width);
}

html, body {
    margin: 0;
    padding: 0;
    min-height: 100%;
    position: relative;
}

body {
    background: var(--background-page-color);
    padding-top: 60px;
}

::-webkit-scrollbar {
    width: 4px;
    height: 4px;
    background-color: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-track {
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
}

div {
    background-size: cover;
}

img {
    border: 0;
}

ul, li, dl, dd, dt, p, ol, h1, h2, h3, h4, h5, img {
    padding: 0;
    margin: 0;
    font-size: 14px;
}

ul li {
    list-style: none;
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 16px;
}

textarea, textarea:focus {
    resize: none;
    font-size: 12px;
    color: #afafb0;
    outline: none;
}

a, input, button {
    outline: none;
    border: none;
}

a:hover, a:link, a:visited {
    text-decoration: none;
}

a {
    color: #333;
}

a:hover {
    color: #333
}

select, input:focus, input {
    outline: none !important;
    box-shadow: none !important;
}

* {
    font-family: "Segoe UI", "Helvetica Neue", "Helvetica", Arial, sans-serif;
}

.block {
    display: block;
}

.relative {
    position: relative;
}

.text-over {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.color-primary {
    color: var(--primary-color);
}

.color-info {
    color: var(--primary-grey-color);
}

[v-cloak] {
    display: none !important;
}

/*loading*/
.loading{
    background:#FF6100;
    height:5px;
    position:fixed;
    top:0;
    z-index:99999;
}

/*flex*/
.flex,
.flex-between,
.flex-around,
.flex-center,
.flex-wrap,
.flex-row,
.flex-row-center,
.flex-row-end,
.flex-column,
.flex-column-center {
    display: flex;
    flex-direction: row;
}

.flex-row-end {
    justify-content: flex-end;
    align-items: center;
}

.flex-row-center {
    align-items: center;
}

.flex-column-center {
    align-items: center;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.flex-align {
    align-items: center;
}

.flex-between {
    justify-content: space-between;
}

.flex-around {
    justify-content: space-around;
}

.flex-column {
    flex-direction: column;
}

.flex-wrap {
    flex-wrap: wrap;
}

.fixed-bottom {
    position: absolute;
    bottom: 0;
}

/* padding */
.pt-15 {
    padding-top: 15px;
}

.pt-20 {
    padding-top: 20px;
}

.pb-15 {
    padding-bottom: 15px;
}

.pb-20 {
    padding-bottom: 20px;
}

/* margin */
.mt-10 {
    margin-top: 10px;
}

.mt-15 {
    margin-top: 15px;
}

.mt-20 {
    margin-top: 20px;
}

.mt-25 {
    margin-top: 25px;
}

.mt-30 {
    margin-top: 30px;
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-15 {
    margin-bottom: 15px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-25 {
    margin-bottom: 25px;
}

.mb-30 {
    margin-bottom: 30px;
}

/* pagination */
.pagination-box {
    text-align: center;
    padding: 20px 0;
}

.pagination-box .pagination .page-item {
    display: inline-block;
    margin-left: 8px;
}

/* navbar  */
.navbar-toggle{
    padding: 14px 10px;
}

/* footer */
footer.footer {
    width: 100%;
    color: #aaa;
    background: var(--background-black-color);
}

footer.footer hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #4b5054;
}

footer.footer ul {
    margin: 60px 0 30px 0;
    padding: 0;
}

footer.footer ul li {
    line-height: 30px;
    white-space: nowrap;
    list-style: none;
    margin: 0;
    padding: 0;
}

footer.footer ul li.title {
    margin-bottom: 10px;
    font-size: 14px;
    color: #fff;
}

footer.footer ul li a {
    color: #aaa;
}

footer.footer .copyright {
    line-height: 30px;
    padding: 20px;
}

@media (max-width: 900px) {
    /*nav*/
    /*.navbar-toggle {*/
    /*    display: block;*/
    /*}*/
    /*.navbar-white .navbar-header .navbar-brand .title {*/
    /*    display: none;*/
    /*}*/
    /*.navbar-white .navbar-nav.navbar-right{*/
    /*    display: none;*/
    /*}*/
    /*.navbar-white .navbar-toggle .icon-bar {*/
    /*    background-color: var(--background-white-color);*/
    /*}*/
}

@media (min-width: 768px) {

}

@media (max-width: 767px) {
    /*nav*/
    /*nav.navbar-white .nav-container{*/
    /*    padding: 0 15px;*/
    /*}*/
    /*.navbar-white .navbar-header .navbar-brand .title {*/
    /*    display: block;*/
    /*}*/
    /*.navbar-white .navbar-nav {*/
    /*    display: none;*/
    /*}*/

    /* footer */
    footer.footer .container {
        margin: 0 20px;
        padding-left: 15px;
        padding-right: 15px;
    }
}