.user-cart-main {
    padding: 32px 0;
    background-color: var(--background-white-color);
}

.line2 {
    -webkit-line-clamp: 2;
}

.line2, .line4 {
    word-break: break-all;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.font-color {
    color: var(--primary-color) !important;
}

.bg-color {
    background-color: var(--primary-color) !important;
}

/*购物车列表*/

.cartList .header {
    height: 54px;
    background: var(--background-page-color);
}

.checkbox-wrapper {
    position: relative;
}

.checkbox-wrapper input {
    display: none;
}

.checkbox-wrapper .well-check {
    height: 30px;
    line-height: 34px;
}

.checkbox-wrapper .icon {
    position: absolute;
    left: 0;
    top: 50%;
    display: inline-block;
    width: 18px;
    height: 18px;
    border: 1px solid #ccc;
    border-radius: 50%;
    transform: translateY(-50%);
}

.checkbox-wrapper input:checked + .icon {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    background-image: url(../images/icon/enter.png);
    background-size: 10px 8px;
    background-repeat: no-repeat;
    background-position: 50%;
}

.cartList .allSelect {
    width: 100px;
    position: relative;
}

.cartList .allSelect .checkAll {
    margin-left: 30px;
}

.cartList .info {
    width: 400px;
    padding-left: 30px;
}

.cartList .price {
    width: 215px;
}

.cartList .num {
    width: 150px;
}

.cartList .body .item .num .iconfont-box {
    width: 40px;
    height: 36px;
    line-height: 36px;
    border: 1px solid #d3d3d3;
    text-align: center;
}

.cartList .body .item .num .iconfont {
    color: #707070;
    background-color: #fff;
}

.cartList .body .item .num .numCon {
    width: 54px;
    height: 36px;
    border: 0;
    border-top: 1px solid #d3d3d3;
    border-bottom: 1px solid #d3d3d3;
    font-size: 15px;
    color: #5a5a5a;
    text-align: center;
    line-height: 36px;
    outline: none;
}

.cartList .money {
    width: 240px;
}

.cartList .body {
    border: 1px solid #efefef;
    border-top: 0;
}

.cartList .body .item {
    height: 170px;
}

.cartList .body .item ~ .item {
    border-top: 1px dotted #e2e2e2;
}

.cartList .body .item .info .pictrue {
    width: 90px;
    height: 90px;
    margin-right: 14px;
}

.cartList .body .item .info .pictrue img {
    width: 90px;
    height: 90px;
}

.cartList .body .item .info .text {
    width: 264px;
}

.cartList .body .item .info .text .infor {
    margin-top: 10px;
    font-size: 12px;
    color: #d0d0d0;
}

.cartList .body .item .operate {
    color: #d0d0d0;
}

.cart-main .footer {
    height: 82px;
    background: #f9f9f9;
    margin-top: 60px;
    padding-left: 30px;
    margin-bottom: 30px;
    align-items: center;
}

.cart-main .footer .total {
    font-size: 16px;
}

.cart-main .footer .bnt {
    width: 160px;
    height: 82px;
    text-align: center;
    line-height: 82px;
    font-size: 18px;
    color: #fff;
    margin-left: 30px;
}

.footer .total .font-color {
    font-size: 22px;
    font-weight: 700;
}

/* 空购物车 */

.cart-empty {
    width: 100%;
}

.cart-empty .left .iconfont {
    font-size: 80px;
    color: var(--primary-color);
    opacity: 0.3;
    margin-right: 15px;
}

.cart-empty .right .text {
    line-height: 30px;
    font-size: 15px;
    color: var(--primary-grey-color);
}

.cart-empty .right .go-buy {
    line-height: 30px;
    font-size: 15px;
    color: var(--primary-color);
    cursor: pointer;
}