/*公共样式*/
:root {
    /*主色*/
    /*--primary-color: #CC4E37; !*主题 根据后台可更改*!*/
    --primary-assist-color: #EFE9DB; /*主题 加亮*/
    --primary-light-color: #5cadff; /*主题 加亮*/
    --primary-dark-color: #2b85e4; /*主题 加深*/
    --primary-black-color: #747474; /*主题 黑色*/
    --primary-grey-color: #C9CBCB; /*主题 灰色*/

    --primary-main-color: #8DC332; /*主题色*/
    --primary-price-color: #E30183; /*标价色*/

    /*按钮色*/
    --success-color: #19be6b; /*成功*/
    --warning-color: #ff9900; /*警告*/
    --danger-color: #ed4014; /*失败*/
    --info-color: #2db7f5; /*默认*/

    /*文字色*/
    --title-color: #17233d; /*标题 title*/
    --content-color: #515a6e; /*正文 Content*/
    --sub-color: #808695; /*辅助/图标 Sub Color*/
    --disabled-color: #c5c8ce; /*失效 Disabled*/

    /*边框色*/
    --border-base-color: #DCDFE6; /*边框 Border*/
    --border-divider-color: #E4E7ED; /*分割线 Divider*/

    /*背景色*/
    --background-page-color: #f8f8f8; /*页面背景*/
    --background-black-color: #1f2730; /*黑色背景*/
    --background-white-color: #ffffff; /*白色背景*/
    --background-transparent-color: transparent; /*透明背景*/
}

@media (min-width: 767px) {
    :root {
        --main-width: 100%;
    }
}

@media (min-width: 768px) {
    :root {
        --main-width: 768px;
    }
}

@media (min-width: 992px) {
    :root {
        --main-width: 992px;
    }
}

@media (min-width: 1200px) {
    :root {
        --main-width: 1200px;
    }
}

.container {
    width: var(--main-width);
}

html, body {
    margin: 0;
    padding: 0;
    min-height: 100%;
    font: 14px/1.5 "PingFang SC", "微软雅黑", "Microsoft YaHei", Helvetica, "Helvetica Neue", Tahoma, Arial, sans-serif;
    color: var(--primary-black-color);
}

body {
    background: var(--background-page-color);
    padding-top: 60px;
}

::-webkit-scrollbar {
    width: 4px;
    height: 4px;
    background-color: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-track {
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    background-color: var(--border-base-color);
}

div {
    background-size: cover;
}

img {
    border: 0;
}

ul, li, dl, dd, dt, p, ol, h1, h2, h3, h4, h5, img {
    padding: 0;
    margin: 0;
    font-size: 14px;
}

ul li {
    list-style: none;
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 16px;
}

textarea, textarea:focus {
    resize: none;
    font-size: 12px;
    color: #afafb0;
    outline: none;
}

a, input, button {
    outline: none;
    border: none;
}

a:hover, a:link, a:visited {
    text-decoration: none;
}

a {
    color: #333;
    cursor: pointer;
}

a:hover {
    color: #333
}

select, input:focus, input {
    outline: none !important;
    box-shadow: none !important;
}

* {
    font-family: "PingFang SC", "Helvetica Neue", Helvetica, "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑,Arial", "sans-serif";
}

.block {
    display: block;
}

.relative {
    position: relative;
}

.price{
    color: var(--primary-price-color);
}

.text-over {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.text-over-1 {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.text-over-2 {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    white-space: unset;
}

.text-over-3 {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    white-space: unset;
}

.color-primary {
    color: var(--primary-color);
}

.color-info {
    color: var(--primary-grey-color);
}

[v-cloak] {
    display: none !important;
}

.btn {
    padding: 8px 24px;
}

.cursor {
    cursor: pointer;
}

.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
    outline: none;
}

.btn-default.active, .btn-default:active, .open > .dropdown-toggle.btn-default, .btn-default:hover, .btn-default:focus {
    background-color: var(--background-page-color);
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:focus, .navbar-inverse .navbar-nav > .active > a:hover {
    background-color: transparent;
}

.content-main {
    padding: 32px 0;
}

/*loading*/
.loading {
    background: #FF6100;
    height: 5px;
    position: fixed;
    top: 0;
    z-index: 99999;
}

.loading-bar {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2000;
}

.loading-bar-inner {
    background-color: var(--primary-color);
    transition: width .2s linear;
}

/*flex*/
.flex,
.flex-between,
.flex-around,
.flex-center,
.flex-wrap,
.flex-row,
.flex-row-center,
.flex-start-center,
.flex-end-center,
.flex-row-end {
    display: flex;
    flex-direction: row;
}

.flex-start-center {
    justify-content: flex-start;
    align-items: center;
}

.flex-end-center {
    justify-content: flex-end;
    align-items: center;
}

.flex-row-end {
    justify-content: flex-end;
}

.flex-row-center {
    align-items: center;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.flex-align {
    align-items: center;
}

.flex-between {
    justify-content: space-between;
}

.flex-around {
    justify-content: space-around;
}

.flex-wrap {
    flex-wrap: wrap;
}

.fixed-bottom {
    position: absolute;
    bottom: 0;
}


.flex-column-center,
.flex-column-between,
.flex-column-evenly,
.flex-column-around,
.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-column-center {
    align-items: center;
    justify-content: center;
}

.flex-column-between {
    justify-content: space-between;
}

.flex-column-around {
    justify-content: space-around;
}

.flex-column-evenly {
    justify-content: space-evenly;
}

/* padding */
.pt-15 {
    padding-top: 15px;
}

.pt-20 {
    padding-top: 20px;
}

.pb-15 {
    padding-bottom: 15px;
}

.pb-20 {
    padding-bottom: 20px;
}

/* margin */
.mt-10 {
    margin-top: 10px;
}

.mt-15 {
    margin-top: 15px;
}

.mt-20 {
    margin-top: 20px;
}

.mt-25 {
    margin-top: 25px;
}

.mt-30 {
    margin-top: 30px;
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-15 {
    margin-bottom: 15px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-25 {
    margin-bottom: 25px;
}

.mb-30 {
    margin-bottom: 30px;
}

/* 头部背景 */
.bk {
    height: 180px;
    width: 100%;
    opacity: 0.3;
    -webkit-filter: blur(100px);
    -ms-filter: blur(100px);
    filter: blur(100px);

    position: absolute;
    top: 0;
    background-image: url("../images/bk.jpg");
    transition: all .3s;
}

.bgfff {
    background-color: #fff !important;
    box-shadow: 0 2px 8px 0 rgba(7, 17, 27, 0.06);
}

.bg000 {
    box-shadow: 0 2px 4px 0 rgba(7, 17, 27, 0.06);
}

/* 面包屑 */
.bread-crumb {
    margin: 0 auto;
    padding: 20px 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.bread-crumb .detail-path {
    margin: 0 auto;
}

.bread-crumb .detail-path, .detail-path a, .detail-path i {
    font-size: 14px;
    color: var(--primary-grey-color);
    line-height: 24px;
    position: relative;
    z-index: 10;
}

.detail-path a {
    color: var(--primary-black-color);
}

/* 面包屑 end */

/*通用分页器*/
.pager {
    width: 100%;
    /*height: 40px;*/
    line-height: 40px;
    margin: 0 auto;
    clear: both;
    text-align: center;
}

.pager a {
    display: inline-block;
    margin: 0 12px;
    width: 40px;
    font-size: 14px;
    color: #4d555d;
    text-align: center;
    cursor: pointer;
    border-radius: 50%;
    -webkit-transition: border-color .2s;
    -moz-transition: border-color .2s;
    transition: border-color .2s;
}

.pager span {
    display: inline-block;
    padding: 0 12px;
    min-width: 20px;
    font-size: 14px;
    text-align: center;
    color: var(--primary-grey-color);
}

.pager a:hover {
    background: var(--primary-grey-color);
    color: var(--background-white-color);
    opacity: 0.4;
}

.pager a.active {
    background: var(--primary-color);
    color: var(--background-white-color);
    opacity: 0.8;
}

.pager a:first-child, .pager a:last-child, .pager a:nth-child(2), .pager a:nth-last-child(2) {
    width: auto;
}

.pager a:first-child:hover, .pager a:last-child:hover, .pager a:nth-child(2):hover, .pager a:nth-last-child(2):hover {
    background-color: transparent;
    color: var(--primary-black-color);
    opacity: 1;
}

/* pagination */
.pagination-box {
    text-align: center;
    padding: 20px 0;
}

.pagination-box .pagination .page-item {
    display: inline-block;
    margin-left: 8px;
}

/* navbar  */
.navbar-toggle {
    padding: 14px 10px;
}

/* footer */
footer.footer {
    width: 100%;
    color: #aaa;
    background: var(--background-black-color);
    border-top: 1px solid #f3f5f6;
}

footer.footer hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #4b5054;
}

footer.footer ul {
    margin: 60px 0 30px 0;
    padding: 0;
}

footer.footer ul li {
    line-height: 30px;
    white-space: nowrap;
    list-style: none;
    margin: 0;
    padding: 0;
}

footer.footer ul li.title {
    margin-bottom: 10px;
    font-size: 14px;
    color: #fff;
}

footer.footer ul li a {
    color: #aaa;
}

footer.footer .copyright {
    line-height: 30px;
    padding: 20px;
    border-top: 1px solid #585f67;
}

footer.footer .wrap {
    width: 100%;
    padding-top: 30px;
    box-sizing: border-box;
    padding-bottom: 20px;
}

footer.footer .wrap .contact {
    width: 100%;
}

footer.footer .wrap .qrcode {
    width: 100%;
}

footer.footer .wrap .qrcode .item {
    width: 25%;
    text-align: center;
}

footer.footer .wrap .qrcode .item .ico {
    width: 130px;
    height: 130px;
}

footer.footer .wrap .qrcode .item .msg {
    font-size: 15px;
    color: #ffffff;
    margin-top: 12px;
}

/* 空数据 */
.page-empty {
    width: 100%;
}

.page-empty .empty-content {
    width: 100%;
    padding: 100px 0;
    flex-direction: column;
}

.page-empty .empty-content .tip {
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    color: var(--primary-grey-color);
}

/*加载中*/
.chat-ctn.chat-lazy-loading {
    width: 100%;
    height: 100%;
    position: absolute;
    right: 0;
    bottom: 0;
    top: 60px;
    z-index: 2;
    background-color: transparent;
}

.chat-ctn.chat-lazy-loading {
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.kc-loading.s-loading {
    text-align: center;
}

.kc-loading.s-loading .s-loading-icon {
    display: inline-block;
    vertical-align: middle;
    width: 75px;
    height: 75px;
    background: url("../images/loading-animate.gif") no-repeat top;
    background-size: 72px 72px;
}

.kc-loading.s-loading .loading-msg {
    line-height: 2;
    color: #ccc;
}

@media (max-width: 900px) {
    /*nav*/
    /*.navbar-toggle {*/
    /*    display: block;*/
    /*}*/
    /*.navbar-white .navbar-header .navbar-brand .title {*/
    /*    display: none;*/
    /*}*/
    /*.navbar-white .navbar-nav.navbar-right{*/
    /*    display: none;*/
    /*}*/
    /*.navbar-white .navbar-toggle .icon-bar {*/
    /*    background-color: var(--background-white-color);*/
    /*}*/
}

@media (min-width: 768px) {

}

@media (max-width: 767px) {
    /*nav*/
    .navbar-header {
        box-shadow: 0 1px 8px rgba(0, 0, 0, 0.08);
    }

    .navbar-inverse .navbar-toggle {
        border-color: #fff;
    }

    .navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
        background-color: #fff;
    }

    .navbar-inverse .navbar-toggle .icon-bar {
        background-color: #000;
    }

    /* footer */
    footer.footer .container {
        margin: 0 20px;
        padding-left: 15px;
        padding-right: 15px;
    }
}