.login-main, .register-main {
    width: 100%;
    background-color: #ffffff;
}

/* user-reg/4.0.0 progress-bar.css Date:2022-12-28 17:00:52 */

.progress-bar .pro-line, .progress-bar .pro-step .step-index {
    background: url(../../static/images/reg-icon.png) no-repeat;
}

.progress-bar {
    float: none;
    background-color: transparent;
    box-shadow: none;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    margin-bottom: 30px;
    position: relative;
}

.progress-bar .pro-step {
    /* float: left; */
    /* text-align: center; */
}

.progress-bar .pro-step .step-index {
    margin: 0 auto;
    display: block;
    width: 24px;
    height: 30px;
    line-height: 24px;
    background-position: -45px -200px;
    font-size: 14px;
    font-weight: 700;
    color: #ccc
}

.progress-bar .pro-step .step-desc {
    margin-top: 10px;
    font-size: 12px;
    color: #999
}

.progress-bar .pro-step2 {
    /* margin-left: 49px; */
}

.progress-bar .person-pro-step2 {
    position: relative;
    /* margin-left: auto; */
}

.progress-bar .person-pro-step2 .person-pro-line2 {
    left: 62px
}

.progress-bar .pro-step3 {
    /* margin-left: 43px; */
}

.progress-bar .person-pro-step3 {
    /* margin-left: auto; */
}

.progress-bar .pro-step4 {
    margin-left: 51px
}

.progress-bar .cur-step .step-index {
    background-position: 0 -200px;
    color: #fff;
}

.progress-bar .cur-step .step-desc {
    color: #3b4
}

.progress-bar .done-step .step-index {
    background-position: 0 0;
    border: none
}

.progress-bar .done-step .step-desc {
    color: #3b4
}

.progress-bar .pro-line {
    width: 74px;
    height: 10px;
    background-position: 0 -40px
}

.progress-bar .person-pro-line {
    width: 100px;
    background-position: 0 -100px;
    margin-top: 5px;
}

.progress-bar .pro-line1 {
    left: 50px
}

.progress-bar .person-pro-line1 {
    left: 55px;
}

.progress-bar .pro-line2 {
    left: 169px
}

.progress-bar .person-pro-line2 {
    left: auto;
}

.progress-bar .pro-line3 {
    right: 42px
}

.progress-bar .cur-line {
    background-position: 0 -70px
}

.progress-bar .person-cur-line {
    background-position: 0 -130px
}

/* user-reg/4.0.0 login-form-bar.css Date:2023-03-08 11:00:00 */

.login-form-box {
    margin: 100px auto 150px;
    max-width: 400px;
}

.login-title {
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 34px;
    color: var(--primary-black-color);
    margin-bottom: 30px;
}

.login-form {
    padding: 30px 0;
    box-sizing: border-box;
}

.login-form .account-info{
    display: none;
}

.login-form .input-box {
    width: 100%;
    height: 52px;
    line-height: 52px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid var(--border-base-color);
    opacity: 0.8;
    margin-bottom: 34px;
    position: relative;
}

.login-form .forgot-pwd {
    display: block;
    width: 100%;
    text-align: right;
    margin-bottom: 34px;
    font-size: 13px;
    color: var(--primary-grey-color);
    cursor: pointer;
}

.login-form .forgot-pwd:hover {
    color: var(--primary-black-color);
}

.login-form .input-box.hide {
    display: none;
}

.login-form .input-box .mobile-code {
    width: 50px;
    height: 52px;
    line-height: 52px;
    text-align: center;
}

.login-form .input-box .mobile-verifyCode {
    width: 100px;
    height: 52px;
    line-height: 52px;
    text-align: center;
    font-size: 12px;
    color: var(--primary-color);
    cursor: pointer;
}

.login-form .input-box input {
    flex: 1;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    font-weight: bold;
    color: var(--primary-black-color);
    padding: 0 5px;
    box-sizing: border-box;
}

.login-form .input-box input::placeholder {
    font-weight: normal;
    color: var(--primary-grey-color);
}

.login-form .input-box .mobile-clear {
    display: none;
    width: 40px;
    height: 52px;
    line-height: 52px;
    text-align: center;
    margin-left: auto;
    cursor: pointer;
}

.login-form .input-box .mobile-clear .iconfont {
    font-size: 20px;
    color: var(--primary-grey-color);
}

.login-form .btn-box {
    width: 100%;
    position: relative;
}

.login-form .help-block {
    width: 100%;
    height: 20px;
    line-height: 20px;
    position: absolute;
    bottom: -36px;
    left: 0;
    z-index: 1;
    font-size: 12px;
    color: var(--primary-color);
    display: none;
}


.login-form .btn-box .login-btn {
    height: 52px;
    line-height: 52px;
    background: var(--primary-color);
    color: var(--background-white-color);
    text-align: center;
    cursor: pointer;
}

.qrCode-login {
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.qrCode-login img {
    width: 190px;
    height: 190px;
}

.qrCode-login p {
    font-size: 14px;
    color: var(--primary-grey-color);
    margin-top: 10px;
}

.qrCode-login p .iconfont {
    color: #4aae50;
    margin-right: 8px;
}

.login-footer {
    width: 100%;
}

.login-footer .pop-login-signup-box {
    box-sizing: border-box;
    font-size: 16px;
    color: var(--primary-color);
    text-align: center;
    line-height: 24px;
    margin-bottom: 24px;
}

.login-footer .pop-login-signup-box .xa-showSignup {
    cursor: pointer;
    color: var(--primary-grey-color);
}

.login-footer .pop-login-signup-box .xa-showSignup span {
    color: var(--primary-color);
}

.login-footer .pop-login-sns {
    width: 100%;
    text-align: center;
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.login-footer .pop-login-sns .pop-sns-weixin {
    width: 48px;
    position: relative;
    color: #00cc63;
}

.login-footer .pop-login-sns .pop-sns-weixin .sns-item {
    width: 48px;
    height: 48px;
    position: relative;
    background-color: #e5ffe1;
    color: #00cc63;
    border-radius: 100%;
}

.login-footer .pop-login-sns .pop-sns-weixin .sns-item .iconfont {
    font-size: 25px;
}

.pop-login-sns .pop-sns-weixin::after {
    content: "推荐登录";
    position: absolute;
    top: -18px;
    left: 4px;
    width: 4em;
    font-size: 16px;
    background-color: rgb(255, 255, 255);
    transform: scale(0.5);
    padding: 6px 10px;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(212, 255, 233);
    border-image: initial;
    border-radius: 100px 100px 100px 0;
}