.order-detail .header {
    height: 60px;
    line-height: 60px;
    color: #999;
    background-color: unset;
    padding: 0 10px
}

.order-detail .header .home {
    color: #282828
}

.order-detail .bag-f {
    background-color: #fff;
    margin: 10px 0
}

.order-detail .bag-f.order-number li div:nth-child(2) {
    flex: none
}

.order-detail .bag-f.order-number li a {
    margin-left: 30px;
    font-size: 16px;
    color: #236fe9
}

.order-detail .bag-f.order-number li a .iconfont {
    font-size: 12px
}

.order-detail .bag-f ~ div {
    margin-top: 14px
}

.order-detail .bag-f > div ~ div {
    border-top: 1px dashed #cecece
}

.order-detail .bag-f.process {
    margin-top: 0
}

.order-detail .bag-f.process div {
    border-top: none
}

.order-detail .bag-f.process div.section-hd {
    padding: 26px 22px 0
}

.order-detail .bag-f.process div ul {
    padding: 40px 0 120px
}

.order-detail .bag-f.process div ul:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden
}

.order-detail .bag-f.process div li {
    position: relative;
    float: left;
    margin-top: 0;
    margin-left: 222px
}

.order-detail .bag-f.process div li:first-child {
    margin-left: 111px
}

.order-detail .bag-f.process div li .line {
    position: absolute;
    top: 50%;
    left: 16px;
    width: 226px;
    height: 4px;
    background: #c7c7c7;
    transform: translateY(-50%)
}

.order-detail .bag-f.process div li.old .iconfont {
    position: relative;
    width: auto;
    font-size: 18px;
    line-height: 1;
    color: #c7c7c7;
    top: 0
}

.order-detail .bag-f.process div li.now .iconfont {
    position: relative;
    width: auto;
    font-size: 18px;
    line-height: 1;
    color: #c7c7c7;
    top: 0
}

.order-detail .bag-f.process div li.old .iconfont + .iconfont {
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 40px;
    height: 40px;
    border: 4px solid var(--primary-grey-color);
    border-radius: 50%;
    background: #fff;
    transform: translate(-50%, -50%);
    font-size: 20px;
    line-height: 32px;
    text-align: center;
    color: var(--primary-grey-color)
}

.order-detail .bag-f.process div li.now .iconfont + .iconfont {
    position: absolute;
    top: 50%;
    left: 50%;
    display: none;
    width: 40px;
    height: 40px;
    border: 4px solid var(--primary-color);
    border-radius: 50%;
    background: #fff;
    transform: translate(-50%, -50%);
    font-size: 20px;
    line-height: 32px;
    text-align: center;
    color: var(--primary-color)
}

.order-detail .bag-f.process div li .arrow {
    position: absolute;
    top: 50%;
    left: 100%;
    display: none;
    width: 80px;
    height: 16px;
    background: var(--primary-color);
    transform: translateY(-50%)
}

.order-detail .bag-f.process div li .arrow:after {
    content: "";
    position: absolute;
    top: 0;
    left: 100%;
    border: 8px solid transparent;
    border-left-color: var(--primary-color)
}

.order-detail .bag-f.process div li .info {
    position: absolute;
    top: 42px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 14px;
    text-align: center;
    color: #9a9a9a;
    width: 100px
}

.order-detail .bag-f.process div li .info div:first-child {
    margin-bottom: 4px;
    font-size: 16px;
    color: #282828
}

.order-detail .bag-f.process div li.past .line {
    background: rgba(233, 51, 35, .6)
}

.order-detail .bag-f.process div li.now .info div:first-child, .order-detail .bag-f.process div li.past .iconfont {
    color: var(--primary-color)
}

.order-detail .bag-f.process div li.now .arrow, .order-detail .bag-f.process div li.now .iconfont + .iconfont {
    display: block
}

.order-detail .bag-f.reject {
    position: relative;
    padding: 30px 22px;
    background: #666;
    overflow: hidden;
    margin-top: 0
}

.order-detail .bag-f.reject .iconfont {
    position: absolute;
    top: -20px;
    right: 28px;
    font-size: 112px;
    color: #818181
}

.order-detail .bag-f.reject div {
    border-top: none
}

.order-detail .bag-f.reject div.section-hd {
    padding: 0;
    font-weight: 700;
    color: #fff
}

.order-detail .bag-f.reject div ul {
    padding: 0;
    margin-top: 8px;
    font-size: 14px;
    color: #fff
}

.order-detail .bag-f.reason {
    padding: 26px 22px
}

.order-detail .bag-f.reason div {
    border-top: none
}

.order-detail .bag-f.reason div.section-hd {
    padding: 0
}

.order-detail .bag-f.reason div.section-hd .iconfont {
    margin-right: 8px
}

.order-detail .bag-f.reason div ul {
    padding: 0;
    margin-top: 15px;
    color: #7e7e7e
}

.order-detail .section-hd {
    padding: 18px 22px;
    font-size: 18px;
    color: #282828
}

.order-detail .section-bd {
    position: relative
}

.order-detail .section-bd .iconfont {
    position: absolute;
    top: -20px;
    right: 0;
    font-size: 70px;
    color: #f71e1e
}

.order-detail .section-bd ul {
    padding: 22px;
    font-size: 16px;
    color: #282828
}

.order-detail .section-bd ul ~ ul {
    border-top: 1px dashed #cecece
}

.order-detail .section-bd li .time {
    margin-left: 10px
}

.order-detail .section-bd li ~ li {
    margin-top: 20px
}

.order-detail .section-bd li > div:first-child {
    width: 80px
}

.order-detail .section-bd li > div:nth-child(2) {
    flex: 1
}

.order-detail .section-bd li.coupon span ~ span {
    margin-left: 18px
}

.order-detail .section-bd .money {
    color: var(--primary-color)
}

.order-detail .section-bd .money b {
    font-weight: 400;
    font-size: 22px
}

.order-detail .section-bd .goods {
    width: 100%
}

.order-detail .section-bd .goods .info {
    font-size: 12px;
    color: #aaa;
    margin-top: 4px
}

.order-detail .section-bd .goods .info .cart-num {
    font-size: 14px;
    color: #fa2424
}

.order-detail .section-bd .goods li {
    position: relative
}

.order-detail .section-bd .goods li ~ li {
    margin-top: 22px
}

.order-detail .section-bd .goods li > .goods-thumb:first-child {
    width: 86px;
    height: 86px;
    overflow: hidden
}

.order-detail .section-bd .goods li > .course-thumb:first-child {
    width: 150px;
    overflow: hidden
}

.order-detail .section-bd .goods li > div:first-child img {
    display: block;
    width: 100%;
    height: 100%
}

.order-detail .section-bd .goods li > div:nth-child(2) {
    margin-right: 26px;
    margin-left: 26px
}

.order-detail .section-bd .goods li > div:nth-child(2) > div:first-child {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden
}

.order-detail .section-bd .goods li > div:nth-child(2) > div:last-child {
    margin-top: 10px
}

.order-detail .section-bd .goods li > div:nth-child(2) > div:last-child del {
    margin-left: 12px;
    font-size: 14px;
    color: #919191
}

.order-detail .section-bd .goods li > div:nth-child(3) {
    font-size: 14px;
    color: #b1b1b1
}

.order-detail .section-bd .total {
    padding: 28px 22px
}

.order-detail .section-bd .total .footerState {
    cursor: pointer
}

.order-detail .section-bd .total .service {
    width: 114px;
    height: 40px;
    margin-left: 18px;
    background: var(--primary-color);
    color: #fff;
    font-size: 16px;
    text-align: center;
    line-height: 40px;
    cursor: pointer
}

.order-detail .section-bd .total div:first-child {
    width: auto
}

.order-detail .section-bd .total div:last-child {
    flex: none
}

.order-detail .section-bd .total div:last-child div {
    padding-right: 10px;
    padding-left: 30px
}

.order-detail .section-bd .total div:last-child div ~ div {
    border-left: 1px solid #cecece
}

.order-detail .section-bd .total div:last-child .orderBnt {
    width: 114px;
    height: 40px;
    padding: 0;
    border: 1px solid #999;
    border-radius: 2px;
    background: none;
    outline: none;
    font-size: 16px;
    line-height: 40px;
    text-align: center;
    color: #282828
}

.order-detail .section-bd .total div:last-child .orderBnt ~ .orderBnt {
    margin-left: 18px
}

.order-detail .section-bd .total div:last-child .orderBnt.on {
    border-color: var(--primary-color);
    background: var(--primary-color);
    color: #fff
}

.split_btn {
    margin-left: 20px
}

.split_btn a {
    color: #fff
}

.customForm {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis
}

.pictrue {
    display: flex
}

.pictrue img {
    width: 78px;
    height: 78px;
    margin: 11px 8px 10px 0
}

.pice {
    display: flex;
    justify-content: space-between
}

.pice-btn {
    display: flex;
    align-items: center
}