.bread-crumb{
    padding-bottom: 0;
}

.bg-color {
    background-color: var(--primary-color) !important;
}

.order-payment .content{
    margin-bottom: 50px;
}

.order-payment .orderTip {
    padding: 55px 30px 31px;
    font-size: 32px;
    color: #fff;
    width: 100%;
    background: url(../../static/images/orderBg.png) no-repeat;
    background-size: 100% 100%;
}

.order-payment .orderTip .times {
    font-size: 14px;
    margin-top: 12px;
}

.time {
    display: flex;
    justify-content: center;
}

.order-payment .detail {
    width: 100%;
    height: 182px;
    background-color: #fff;
    padding: 31px 30px;
}

.order-payment .detail .item {
    font-size: 16px;
}

.order-payment .detail .item ~ .item {
    margin-top: 12px;
}

.order-payment .payType {
    width: 100%;
    height: 387px;
    background-color: #fff;
    margin-top: 17px;
}

.order-payment .payType .title {
    height: 57px;
    padding: 0 30px;
    border-bottom: 1px dotted #cecece;
    line-height: 57px;
    font-size: 18px;
}

.order-payment .payType .type {
    padding: 22px 50px 55px 30px;
}

.order-payment .payType .type .item {
    width: 210px;
    height: 86px;
    border: 1px solid #d4d4d4;
    position: relative;
    cursor: pointer;
}

.order-payment .payType .type .item.on {
    border-color: var(--primary-color);
}

.order-payment .payType .type .item .iconfont {
    color: #09bb07;
    font-size: 29px;
    margin-right: 11px;
}

.order-payment .payType .type .item .iconfont.icon-yuepay {
    font-size: 32px;
    color: #fe9c01;
}

.order-payment .payType .type .item .yue {
    font-size: 14px;
    color: #969696;
    margin-top: 6px;
}

.order-payment .payType .type .item .icon-selected {
    position: absolute;
    right: -5px;
    bottom: -15px;
    margin: 0 !important;
}

.order-payment .payType .type .item ~ .item {
    margin-left: 20px;
}

.order-payment .payType .type .item .iconfont.icon-wechat {
    font-size: 40px;
    color: #09bb07;
}

.order-payment .payType .type .item .iconfont.icon-alipay {
    font-size: 34px;
    color: #00aaea;
}

.order-payment .payType .type .item .iconfont.font-color {
    font-size: 40px;
    color: var(--primary-color);
}

.order-payment .payType .type .item .name {
    font-size: 16px;
    color: #4e4e4e;
}

.order-payment .payType .goPay {
    margin: 80px 50px 0 0;
}

.order-payment .payType .goPay .bnt {
    width: 180px;
    height: 46px;
    font-size: 16px;
    color: #fff;
    border-radius: 4px;
    text-align: center;
    line-height: 46px;
    cursor: pointer;
}