body {
    background-color: #ffffff;
}

.content-main {
    padding: 30px 0;
}

/*轮播图 start*/
.swiper {
    width: 100%;
    position: relative;
    overflow: hidden;
}

.swiper-wrapper {
    width: 100%;
}

.swiper-wrapper .swiper-slide {
    width: 100%;
}

.swiper-wrapper .swiper-slide img {
    width: 100%;
}

.swiper-wrapper .swiper-pagination-bullet {
    width: 13px;
    height: 5px;
    border: 1px solid #FFFFFF;
    border-radius: 0;
    box-sizing: border-box;
}

.swiper-wrapper .swiper-pagination-bullet-active {
    width: 13px;
    height: 5px;
    background: #ffffff;
    border: 1px solid #FFFFFF;
}

.swiper-wrapper .swiper-pagination {
    width: 100%;
    height: 50px;
    line-height: 50px;
    padding: 0 36px;
    box-sizing: border-box;
    text-align: right;
}

.swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    border-radius: unset;
    background-color: var(--background-white-color);
    opacity: 0.8;
}

.swiper-pagination-bullet-active {
    background-color: var(--background-black-color);
    opacity: 1;
}

/*轮播图 end*/

.header {
    width: 100%;
    margin-top: 100px;
}

.header .title {
    font-size: 32px;
    font-weight: bold;
}

.header .tab-list {
    width: 612px;
    margin-top: 50px;
}

.header .tab-list .tab-item {
    color: var(--primary-black-color);
}

.header .tab-list .tab-item .tab-name {
    font-size: 21px;
    font-weight: bold;
}

.header .tab-list .tab-item .tab-total {
    font-size: 18px;
    color: var(--primary-grey-color);
    margin-top: 15px;
}

.header .tab-list .tab-item.active {
    color: var(--primary-main-color);
}

.header .tab-list .tab-item.active .tab-total {
    color: var(--primary-main-color);
}

.header .tab-list .tab-item.active::after {
    display: block;
    content: '';
    width: 60px;
    height: 3px;
    background: var(--primary-main-color);
    opacity: 0.6;
    margin-top: 15px;
}

.header .search-box {
    width: 612px;
    margin-top: 62px;
}

.header .search-box .search-info {
    width: 100%;
    height: 35px;
    position: relative;
}

.header .search-box .search-info .search-input {
    width: 100%;
    height: 35px;
    border: 1px solid var(--primary-grey-color);
    border-radius: 2px;
    padding-left: 12px;
    box-sizing: border-box;
}

.header .search-box .search-info .icon-box {
    position: absolute;
    top: 0;
    right: 0;
    width: 35px;
    height: 35px;
    border: 1px solid var(--primary-grey-color);
    box-sizing: border-box;
    background-color: #ffffff;
}

.header .search-box .search-info .icon-box .icon-search {
    width: 25px;
    height: 25px;
}

.teacher-content {
    width: 100%;
}

.teacher-block {
    width: 100%;
    margin-top: 72px;
}

.title-box {
    /*margin-top: 72px;*/
}

.title-box .left {

}

.title-box .left .title {
    font-size: 20px;
    color: var(--primary-black-color);
    font-weight: bold;
}

.title-box .left .total {
    font-size: 15px;
    color: var(--primary-grey-color);
}

.title-box .right {
    font-size: 15px;
    color: var(--primary-grey-color);
}

.teacher-block .teacher-list {
    width: 100%;
    padding: 30px 0;
    box-sizing: border-box;
    flex-wrap: wrap;
}

.teacher-block .teacher-list .teacher-item {
    width: 250px;
    margin-top: 50px;
}

.teacher-block .teacher-list .teacher-item .teacher-avatar {
    width: 225px;
    height: 225px;
    border-radius: 50%;
    object-fit: cover;
}

.teacher-block .teacher-list .teacher-item .teacher-avatar{
    transition: transform 0.3s ease-in-out;
}

.teacher-block .teacher-list .teacher-item:hover .teacher-avatar{
    transform: scale(1.2);
}

.teacher-block .teacher-list .teacher-item .teacher-name {
    font-size: 18px;
    color: var(--primary-black-color);
    font-weight: bold;
    margin-top: 40px;
}

.teacher-block .teacher-list .teacher-item .works-total {
    font-size: 15px;
    color: var(--primary-grey-color);
    margin-top: 16px;
}

/*艺术家详情*/
.teacher-info-block {
    width: 100%;
    padding: 128px 0 0 0;
    box-sizing: border-box;
}

.teacher-info-block .teacher-info {

}

.teacher-info-block .teacher-content {
    width: 100%;
    background: #ffffff;
    margin-top: 20px;
    padding: 30px 60px;
    box-sizing: border-box;
}

.teacher-info-block .teacher-info .teacher-avatar {

}

.teacher-info-block .teacher-info .teacher-avatar .avatar {
    width: 278px;
    height: 275px;
    object-fit: cover;
    border-radius: 100%;
}

.teacher-info-block .teacher-info .teacher-name {
    font-size: 36px;
    color: var(--primary-black-color);
    font-weight: bold;
    margin-top: 60px;
}

.teacher-info-block .teacher-info .teacher-desc {
    font-size: 16px;
    color: var(--primary-grey-color);
    margin-top: 40px;
}

.teacher-info-block .teacher-info .teacher-collect {
    font-size: 16px;
    color: var(--primary-grey-color);
    border: 1px solid var(--primary-grey-color);
    border-radius: 6px;
    padding: 4px 20px;
    margin-top: 60px;
}