<div style='max-height:500px;overflow:auto;min-width:850px;'>
<table class="table table-hover" style="min-width:850px;">
    <tbody>   
        {foreach $memberList as $key => $row}
        <tr>
            <td>
                <img src='{:tomedia($row['avatar'])}' style='width:30px;height:30px;padding1px;border:1px solid #ccc' onerror="this.src='/app/admin/static/images/noface.png'"/>
                <i class="icow icow-xiaochengxu" style="color: #7586db;vertical-align: middle;" data-toggle="tooltip" data-placement="top" title="" data-original-title="来源: 小程序"></i>
                {$row['nickname']}
            </td>
            <td style="width:80px;"><a href="javascript:;" onclick='biz.selector.set(this,{:json_encode($row)})'>选择</a></td>
        </tr>
        {/foreach}
        {if count($memberList)<=0}
        <tr> 
            <td colspan='4' align='center'>未找到会员</td>
        </tr>
        {/if}
    </tbody>
</table>
    </div>