@font-face {
  font-family: "iconfont"; /* Project id 2651925 */
  src: url('font.woff2?t=1626619206288') format('woff2'),
       url('font.woff?t=1626619206288') format('woff'),
       url('font.ttf?t=1626619206288') format('truetype');
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dian:before {
  content: "\ec7b";
}

.icon-a-biaodanshuxie:before {
  content: "\e61c";
}

.icon-Shape:before {
  content: "\e609";
}

.icon-sousuo:before {
  content: "\e604";
}

.icon-fanhui:before {
  content: "\e603";
}

.icon-a-line-quillpenyumaobi:before {
  content: "\e602";
}

.icon-fanhuidingbu-:before {
  content: "\e646";
}

.icon-weixin1:before {
  content: "\e695";
}

.icon-app:before {
  content: "\e608";
}

.icon-bangzhuzhongxin:before {
  content: "\e616";
}

.icon-yaoqingdaoshi:before {
  content: "\e640";
}

.icon-adjust-full:before {
  content: "\e994";
}

.icon-webicon215:before {
  content: "\e68d";
}

.icon-webicon216:before {
  content: "\e68e";
}

.icon-weixin:before {
  content: "\e7e5";
}

.icon-mima:before {
  content: "\e61b";
}

.icon-shanchu1:before {
  content: "\e637";
}

.icon-shanchu:before {
  content: "\e72d";
}

.icon-yuan:before {
  content: "\e629";
}

.icon-yuan1:before {
  content: "\e655";
}

.icon-shijian:before {
  content: "\e61a";
}

.icon-yinpin:before {
  content: "\e6ac";
}

.icon-bofang:before {
  content: "\e600";
}

.icon-xiangyou:before {
  content: "\e6d8";
}
