{extend name="../../admin/view/public/system"}

{block name='content'}
<style>
    #xiangqing{
        color:#44abf7;
        font-size:14px;
    }
</style>
<div class="page-header">
    <span>当前位置：<span class="text-primary">{if !empty($item['id'])}编辑{else}添加{/if}用户 <small>{if !empty($item['id'])}修改【{$item['nickname']}】{/if}</small></span></span>
</div>
<div class="page-content">
    <form id="dataform" action="" method="post" class="form-horizontal form-validate" >
        <input type="hidden" name="id" value="{$item['id']}" />

        {if $item['username']}
        <div class="form-group">
            <label class="col-lg control-label">账号</label>
            <div class="col-sm-9 col-xs-12">
                <div class="form-control-static">{$item['username']}</div>
            </div>
        </div>
        {/if}

        <div class="form-group">
            <label class="col-lg control-label">用户头像</label>
            <div class="col-sm-9 col-xs-12">
                {:tpl_form_field_image('avatar', $item['avatar'])}
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg control-label must">昵称</label>
            <div class="col-sm-9 col-xs-12">
                <input type="text" name="nickname" class="form-control" value="{$item['nickname']}" data-rule-required="false" autocomplete="off" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg control-label">姓名</label>
            <div class="col-sm-9 col-xs-12">
                <input type="text" name="realname" class="form-control" value="{$item['realname']}" data-rule-required="false" autocomplete="off" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg control-label">手机号</label>
            <div class="col-sm-9 col-xs-12">
                <input type="text" name="mobile" class="form-control" value="{$item['mobile']}" data-rule-required="false" autocomplete="off" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg control-label">邮箱</label>
            <div class="col-sm-9 col-xs-12">
                <input type="text" name="email" class="form-control" value="{$item['email']}" data-rule-required="false" autocomplete="off" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg control-label">职位</label>
            <div class="col-sm-9 col-xs-12">
                <input type="text" name="job" class="form-control" value="{$item['job']}" data-rule-required="false" autocomplete="off" />
            </div>
        </div>

        <div class="form-group"></div>
        <div class="form-group">
            <label class="col-lg control-label"></label>
            <div class="col-sm-9 col-xs-12">
                <input type="submit" value="提交" class="btn btn-primary" />
                <input type="button" name="back" onclick='history.back()' style='margin-left:10px;' value="返回列表" class="btn btn-default" />
            </div>
        </div>

    </form>
</div>

<script language='javascript'>

</script>

{/block}