<style>
    .wb-container {
        margin: 0 0 0 150px;
        padding-top: 0;
    }

    .wb-subnav {
        top: 0;
        left: 0;
    }

    .wb-subnav .single li {
        position: relative
    }

    .wb-subnav .single li a {
        cursor: pointer;
    }
</style>

<div class="wb-subnav">
    <div style="width: 100%;height: 100%;overflow-y: auto">
        <div class="subnav-scene">系统管理</div>

        <ul class="single">
            <li class="wb-nav-system-li {if $action == 'index'}active{/if}" data-module="{$_GET['module']}" data-href="{:url('admin/system/index',['i' => $uniacid,'module' => $_GET['module']])}">
                <a href="javascript:">应用管理</a>
            </li>
            <li class="wb-nav-system-li {if $action == 'profile'}active{/if}" data-module="{$_GET['module']}" data-href="{:url('admin/system/profile',['i' => $uniacid,'module' => $_GET['module']])}">
                <a href="javascript:">修改密码</a>
            </li>
            {if in_array($userInfo['role'],['owner','manager'])}
                <li class="wb-nav-system-li {if $action == 'user'}active{/if}" data-module="{$_GET['module']}" data-href="{:url('admin/perm/user',['i' => $uniacid,'module' => $_GET['module']])}">
                    <a href="javascript:">权限管理</a>
                </li>
                <li class="wb-nav-system-li {if $action == 'account'}active{/if}" data-module="{$_GET['module']}" data-href="{:url('admin/system/account',['i' => $uniacid,'module' => $_GET['module']])}">
                    <a href="javascript:">系统设置</a>
                </li>
            {/if}
        </ul>

        <div class="wb-subnav-fold icow"></div>
    </div>
</div>