<div id="viewToolbar" v-cloak> <!--style="right: 244px;"-->

    <div class="ant-drawer">

        <div class="ant-drawer-header">
            <div class="ant-drawer-header-title">
                <button type="button" aria-label="Close" class="ant-drawer-close" @click="closeDrawer()"><span role="img" aria-label="close" class="anticon anticon-close"><svg fill-rule="evenodd" viewBox="64 64 896 896" focusable="false" data-icon="close" width="1em" height="1em" fill="currentColor" aria-hidden="true"><path
                        d="M799.86 166.31c.02 0 .04.02.08.06l57.69 57.7c.04.03.05.05.06.08a.12.12 0 010 .06c0 .03-.02.05-.06.09L569.93 512l287.7 287.7c.04.04.05.06.06.09a.12.12 0 010 .07c0 .02-.02.04-.06.08l-57.7 57.69c-.03.04-.05.05-.07.06a.12.12 0 01-.07 0c-.03 0-.05-.02-.09-.06L512 569.93l-287.7 287.7c-.04.04-.06.05-.09.06a.12.12 0 01-.07 0c-.02 0-.04-.02-.08-.06l-57.69-57.7c-.04-.03-.05-.05-.06-.07a.12.12 0 010-.07c0-.03.02-.05.06-.09L454.07 512l-287.7-287.7c-.04-.04-.05-.06-.06-.09a.12.12 0 010-.07c0-.02.02-.04.06-.08l57.7-57.69c.03-.04.05-.05.07-.06a.12.12 0 01.07 0c.03 0 .05.02.09.06L512 454.07l287.7-287.7c.04-.04.06-.05.09-.06a.12.12 0 01.07 0z"></path></svg></span>
                </button>
                <div class="ant-drawer-title">作品详情</div>
            </div>
        </div>

        <div class="ant-drawer-body">
            <div class="goods-info">

                <div class="goods-item">
                    <div class="goods-title">{{ goodsInfo.title }}</div>
                    <div class="goods-price">价格: <span class="price">¥ {{ goodsInfo.marketprice }}</span></div>

                    <div class="goods-desc flex-between">
                        <div class="goods-sn">编号: {{ goodsInfo.goodssn }}</div>

                        <div class="options">
                            <div class="btn btn-default" :class="isFavorite ? 'disabled' : ''" @click="addFavorite()">{{ isFavorite ? '已收藏' : '收藏' }}</div>
                            <div class="btn btn-buy" @click="buyGoods()">立即购买</div>
                        </div>
                    </div>
                </div>

                <div class="title-box">
                    <div class="title">作品参数</div>
                </div>

                <div class="param-box">
                    <div class="param-list">
                        <div class="param-item flex-start-center" v-for="(item,index) in params" :key="index">
                            <div class="param-name">{{ item.title }}:</div>
                            <div class="param-value">{{ item.value }}</div>
                        </div>
                    </div>
                </div>

                <div class="title-box">
                    <div class="title">作者介绍</div>
                </div>

                <div class="teacher-box">
                    <div class="teacher-info flex-center">
                        <div class="teacher-avatar">
                            <img :src="teacherInfo.avatar" alt="" class="avatar">
                        </div>
                        <div class="teacher-desc flex-column-around">
                            <div class="name">{{ teacherInfo.name }}</div>
                            <div class="desc">{{ teacherInfo.description }}</div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="footer-box flex-center">
                <a class="btn look-more" @click="lookWorks(teacherInfo.id)">查看相关作品</a>
            </div>
        </div>

        <div class="ant-drawer-footer">
            <div class="copyright"> 未经本司或作者授权，禁止转载</div>
        </div>

    </div>

</div>

<script>
    require(['vue', 'h7.axios', 'jquery', 'tip'], (Vue, axios, $) => {
        let VM = new Vue({
            el: '#viewToolbar',
            data: {
                goodsId: "{$goodsInfo['id']}",
                goodsInfo: {},
                teacherInfo: {},
                isFavorite: 0,
                params: {},
            },
            mounted() {
                this.getGoodsInfo()
            },
            methods: {
                closeDrawer(){
                    $('#viewToolbar').animate({'right': '-600px'});
                    $("#isShowToolbar").val(0);
                    $(".ant-dropdown-menu").hide();
                    $("#showToolbarText").text('查看详情');
                },
                getGoodsInfo() {
                    let url = "{:url('goods/getInfo')}";
                    axios.post(url, {id: this.goodsId}).then((res) => {
                        this.goodsInfo = res.goodsInfo;
                        this.teacherInfo = res.teacherInfo;
                        this.params = res.params;
                        this.isFavorite = res.isFavorite;
                    });
                },
                buyGoods() {
                    location.href = "{:url('order/confirm')}?id=" + this.goodsId;
                },
                lookWorks(teacherId) {
                    let url = "{:url('artist/detail')}";
                    location.href = url + "?id=" + teacherId
                },
                addFavorite() {
                    let url = "{:url('favorite/add')}";
                    let backUrl = location.href;

                    let isFavorite = parseInt(this.isFavorite);
                    this.isFavorite = !this.isFavorite;

                    axios.post(url, {goodsid: this.goodsId, backUrl: backUrl}, (json) => {

                        $('#isFavorite').val(isFavorite ? 0 : 1);

                        if (isFavorite) {
                            tip.success("取消收藏成功");
                        } else {
                            tip.success("收藏成功");
                        }
                    });
                },
            }
        });
    });
</script>