<div class="panel-body">

    <div class="form-group-title">表格扩展组件</div>


    <div class="page-table-header">
        <input type='checkbox'/>
        <div class="btn-group" style="margin-left: 15px;">
            <button class="btn btn-default btn-sm btn-operation" type="button" data-toggle='batch' data-href=""><i class='icon icon-eye-open'></i> 启用</button>
            <button class="btn btn-default btn-sm btn-operation" type="button" data-toggle='batch' data-href=""><i class='icon icon-eye-close'></i> 禁用</button>
            <button class="btn btn-default btn-sm btn-operation" type="button" data-toggle='batch-remove' data-confirm="确认要删除?" data-href="">
                <i class='icon icon-trash'></i> 删除
            </button>
        </div>
    </div>
    <table class="table table-responsive table-hover">
        <thead class="navbar-inner">
        <tr>
            <th style="width:40px;"></th>
            <th style='width:140px'>ID</th>
            <th style='width:120px'>名称</th>
            <th style='width:200px'>介绍</th>
            <th style='width:100px'>状态</th>
            <th style='width:50%'>操作</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                <input type='checkbox' value="{$row['uniacid']}"/>
            </td>
            <td>1</td>
            <td style="overflow: visible">
                <div rel="pop" style="display: flex" data-content="">
                    <img class="img-40" src="{:tomedia($row['logo'])}" style='border-radius:50%;border:1px solid #efefef;' onerror="this.src='__ADMIN_IMG__/noface.png'"/>
                    <span style="display: flex;flex-direction: column;justify-content: center;align-items: flex-start;padding-left: 5px">
                        <span class="nickname">名称</span>
                    </span>
                </div>
            </td>
            <td style="overflow: visible;white-space:normal;">
                <a href='javascript:;' data-toggle='ajaxEdit' data-href="{:webUrl('goods/change',array('type'=>'desc','id'=>1))}" >这里是可换行的长文本内容介绍</a>
                <i class="icon icon-pencil"></i>
            </td>
            <td>
                <span class='label {if $row['status']==0}label-primary{else}label-default{/if}'
                data-toggle='ajaxSwitch'
                data-switch-value='{$row['status']}'
                data-switch-value0='0|启用|label label-primary|{:webUrl('account/change',array('type' => 'status','value'=>1,'id'=>$row['uniacid']))}'
                data-switch-value1='1|禁用|label label-default|{:webUrl('account/change',array('type' => 'status','value'=>0,'id'=>$row['uniacid']))}'
                >
                {if $row['status']==0}启用{else}禁用{/if}
                </span>
            </td>
            <td style="text-align:left;">
                <a href="{:webUrl('account/edit', array('id' => 1))}" class="btn btn-op btn-operation">
                    <span data-toggle="tooltip" data-placement="top" data-original-title="修改">
                        <i class='icon icon-edit'></i>
                    </span>
                </a>
                <a href="javascript:;" class='btn  btn-op btn-operation js-clip' data-url="{:webUrl('goods/detail', array('id' => 1),true)}">
                    <span data-toggle="tooltip" data-placement="top"  data-original-title="复制链接">
                        <i class='icon icon-link'></i>
                    </span>
                </a>
                <a data-toggle='ajaxRemove' href="{:webUrl('account/change', array('type' => 'deleted','value' => 1,'id' => $row['uniacid']))}" class="btn btn-op btn-operation" data-confirm='确认要删除此商户吗?'>
                    <span data-toggle="tooltip" data-placement="top" data-original-title="ajaxRemove">
                       <i class='icon icon-trash'></i>
                    </span>
                </a>
                <a data-toggle='ajaxPost' href="{:webUrl('account/change', array('type' => 'deleted','value' => 1,'id' => $row['uniacid']))}" class="btn btn-op btn-operation" data-confirm='确认要删除此商户吗?'>
                    <span data-toggle="tooltip" data-placement="top" data-original-title="ajaxPost">
                       <i class='icon icon-trash'></i>
                    </span>
                </a>
                <a data-toggle='ajaxModal' href="{:webUrl('sysset/model')}" class="btn btn-op btn-operation">
                    <span data-toggle="tooltip" data-placement="top" data-original-title="ajaxModal">
                        <i class='icon icon-pencil'></i>
                    </span>
                </a>
                <!--验证跳转-->
                <a data-toggle='ajaxHref' href="{:webUrl('account/manager', array('id' => $row['uniacid']))}" class="btn btn-op btn-operation" target="_blank">
                    <span data-toggle="tooltip" data-placement="top" data-original-title="操作验证">
                        <i class='icon icon-cog'></i>
                    </span>
                </a>
                <a data-toggle='refresh' data-input="#custom_cell1_url" data-full="true" class="btn btn-op btn-operation">
                    <span data-toggle="tooltip" data-placement="top" data-original-title="刷新">
                        <i class='icon icon-refresh'></i>
                    </span>
                </a>
                <a data-toggle='refresh' data-input="#custom_cell1_url" data-full="true" class="btn btn-op btn-operation">
                    <span data-toggle="tooltip" data-placement="top" data-original-title="返回">
                        <i class='icon icon-chevron-left'></i>
                    </span>
                </a>
            </td>
        </tr>

        </tbody>
        <tfoot>
        <tr>
            <td><input type="checkbox"></td>
            <td colspan="3">
                <div class="btn-group">
                    <button class="btn btn-default btn-sm btn-operation" type="button" data-toggle='batch' data-href="{:webUrl('account/change',array('type' => 'status','value'=>0))}"><i class='icon icon-eye-open'></i> 启用</button>
                    <button class="btn btn-default btn-sm btn-operation" type="button" data-toggle='batch' data-href="{:webUrl('account/change',array('type' => 'status','value'=>1))}"><i class='icon icon-eye-close'></i> 禁用</button>
                    <button class="btn btn-default btn-sm btn-operation" type="button" data-toggle='batch-remove' data-confirm="确认要删除?" data-href="{:webUrl('account/change',['type' => 'deleted','value' => 1])}">
                        <i class='icon icon-trash'></i> 删除
                    </button>
                </div>
            </td>
            <td colspan="3" style="text-align: right">
                {$pager | raw}
            </td>
        </tr>
        </tfoot>
    </table>

</div>