{extend name="../../admin/view/public/admin_base"}

{block name="style"}
<style>
    .wb-container{
        margin: 0;
        background: unset;
    }
     .error-content {
         width: 100%;
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
     }
</style>
{/block}

{block name='content'}
<link rel="stylesheet" href="__ADMIN_CSS__/other/error.css"/>
<div class="page-content">
    <div class="error-content">
        <img src="__ADMIN_IMG__/403.svg" alt="">
        <div class="content-r">
            <h1>403</h1>
            <p style="text-align: center;">抱歉，你无权访问该页面</p>
            <p class="flex-center">
                <a class="btn btn-default" onclick="javascript:history.go(-1);">返回</a>
            </p>
        </div>
    </div>
</div>
{/block}
