{extend name="../../admin/view/public/admin"}

{block name='content'}

<div class="page-header">
    当前位置：<span class="text-primary">{if !empty($item)}编辑{else}新建{/if}版本
    	<small>{if !empty($item)}(名称: {$item['title']}){/if}</small>
    </span>
</div>

<div class="alert alert-info">
    <p>1.在添加版本前请更新当前框架为指定版本</p>
    <p>2.添加的版本是以当前系统为参照，所以做好系统内侧再提交版本</p>
</div>

<div class="page-content">

    <form action="" method="post" class="form-validate form-horizontal ">
        <input type="hidden" name="id" value="{$item['id']}"/>

        <div class="form-group-title">版本信息</div>

        <div class="form-group">
            <label class="col-lg control-label must">版本号</label>
            <div class="col-sm-9 col-xs-12">
                <input type="text" name="version" class="form-control" value="{$item['version']}" placeholder="1.0.1" data-rule-required="true"/>
            </div>
        </div>

        <div class="form-group">
            <label class="col-lg control-label must">标题</label>
            <div class="col-sm-9 col-xs-12">
                <input type="text" name="title" class="form-control" value="{$item['title']}" data-rule-required="true"/>
            </div>
        </div>

        <div class="form-group">
            <label class="col-lg control-label">更新内容</label>
            <div class="col-sm-9 col-xs-12">
                {:tpl_ueditor('content',$item['content'],array('height'=>'300'))}
            </div>
        </div>

        <div class="form-group">
            <label class="col-lg control-label">上架状态</label>
            <div class="col-sm-9 col-xs-12">
                <label class="radio-inline">
                    <input type="radio" name="status" value="0" {if $item['status']==0 || empty($item)}checked="checked"{/if}> 下架
                </label>
                <label class="radio-inline">
                    <input type="radio" name="status" value="1" {if $item['status']==1}checked="checked"{/if}> 上架
                </label>
            </div>
        </div>

        <div class="form-group">
            <label class="col-lg control-label"></label>
            <div class="col-sm-9">
                <input type="submit" class="btn btn-primary" value="保存">
                <a class="btn btn-default" href="{:webUrl('frames/main')}">返回列表</a>
            </div>
        </div>

    </form>
</div>


{/block}