{extend name="../../admin/view/public/admin"}

{block name='content'}

<div class="page-header">当前位置：<span class="text-primary">{if $item}编辑{else/}添加{/if}用户</span></div>

<style>
    .tabs-container .form-group {overflow: hidden;}
    .tabs-container .tabs-left > .nav-tabs {}
    .tab-goods .nav li {float:left;}
</style>

<div class="page-content">

    <form action="" method="post" class="form-horizontal form-validate" enctype="multipart/form-data">
        <input type="hidden" id="tab" name="tab" value="{if empty($_GPC['tab'])}#tab_basic{else}#tab_{$_GPC['tab']}{/if}" />

        <div class="tabs-container tab-goods">
            <div class="tabs-left">
                <ul class="nav nav-tabs" id="myTab" style="display: none;">
                    <li  {if empty($_GPC['tab']) || $_GPC['tab']=='basic'}class="active"{/if}><a href="#tab_basic">账号设置</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-content">

                        <div class="tab-pane {if empty($_GPC['tab']) || $_GPC['tab']=='basic'}active{/if}" id="tab_basic">
                            <div class="panel-body">

                                <div class="form-group">
                                    <label class="col-lg control-label must">用户角色</label>
                                    <div class="col-sm-9 col-xs-12">
                                        <label class="radio-inline">
                                            <input type="radio" name="role" value="manager" {if $item['role']=='manager' || empty($item['role'])}checked="checked"{/if}> 商户管理员
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="role" value="operator" {if $item['role']=='operator'}checked="checked"{/if}> 普通管理员
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="role" value="owner" {if $item['role']=='owner'}checked="checked"{/if}> 超级管理员
                                        </label>
                                        <span class='help-block'>超级管理员: 拥有所有权限，管理所有商户数据及权限、所有应用的安装与卸载、系统升级与维护等</span>
                                        <span class='help-block'>商户管理员:拥有指定商户的所有权限，管理商户应用、商户数据、商户员工，商户用户等</span>
                                        <span class='help-block'>普通员工:属于商户下的员工操作用户，员工访问权限需要商户管理员进行分配（请在商户管理界面设置）</span>
                                    </div>
                                </div>

                                <div class="form-group" id="uniacid_selector_group">
                                    <label class="col-lg control-label must">管理商户</label>
                                    <div class="col-sm-9 col-xs-12">
                                        {:tpl_selector('uniacid',array('text'=>'name','value'=>$item['name'],'preview'=>true,'readonly'=>true,'multi'=>0,'type'=>'image', 'required'=>false,  'thumb'=>'logo','placeholder'=>'商户名称','buttontext'=>'选择商户 ', 'items'=>$accountInfo,'url'=>webUrl('account/query')))}
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-lg control-label must">登录账号</label>
                                    <div class="col-sm-9 col-xs-12">
                                        <input type="text" name="username" class="form-control" value="{$item['username']}" data-rule-required='true'/>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-lg control-label">登录密码</label>
                                    <div class="col-sm-9 col-xs-12">
                                        <input type="text" name="password" class="form-control" value=""/>
                                        <span class="help-block">不填写则为不修改密码</span>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-lg control-label">姓名</label>
                                    <div class="col-sm-9  col-xs-12">
                                        <input type="text" name="realname" class="form-control" value="{$item['realname']}" />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-lg control-label">电话</label>
                                    <div class="col-sm-9  col-xs-12">
                                        <input type="text" name="mobile" class="form-control" value="{$item['mobile']}" />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-lg control-label">是否启用</label>
                                    <div class="col-sm-9 col-xs-12">
                                        <label class="radio-inline">
                                            <input type="radio" name="status" value="1" {if $item['status']==1 || empty($item)}checked="checked"{/if}> 启用
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="status" value="0" {if isset($item['status']) && $item['status']==0}checked="checked"{/if}> 关闭
                                        </label>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-lg control-label">截止时间</label>
                                    <div class="col-sm-6 col-xs-12">
                                        <div class="input-group">
                                            {:tpl_form_field_date('end_time',$item['end_time'],true)}
                                            <span class="input-group-addon">
                                                <label class="radio-inline" style="margin-top:-9px;width:150px;">
                                                    <input type="radio" name="limit_time" value="1" {if $item['end_time'] > 0}checked="checked"{/if}> 限制时间
                                                </label>
                                            </span>
                                            <span class="input-group-addon">
                                                <label class="radio-inline" style="margin-top:-9px;width:150px;">
                                                    <input type="radio" name="limit_time" value="0" {if $item['end_time'] <= 0}checked="checked"{/if}> 不限时间
                                                </label>
                                            </span>
                                        </div>
                                    </div>
                                </div>

                                {include file="users/perms" /}

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-lg control-label"></label>
            <div class="col-sm-9 col-xs-12">
                <input type="submit" value="提交" class="btn btn-primary"/>
                <a class="btn btn-default" href="{:webUrl('users/list')}">返回列表</a>
            </div>
        </div>

    </form>



</div>

{/block}

{block name="script"}
<script>
    $(() => {
        $("input[name='role']").on("click",function(){
            let type = $(this).val()
            if( type !== 'owner' ){
                $("#uniacid_selector_group").show()
            }else{
                $("#uniacid_selector_group").hide()
            }
        })
    })
</script>
{/block}