<style>
    .course-list {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .course-item {
        width: 280px;
        position: relative;
        box-sizing: border-box;
        z-index: 0;
        background-color: var(--background-white-color);
        box-shadow: 0 6px 10px 0 rgba(95, 101, 105, 0.15);
        margin-bottom: 20px;
        transition: transform 0.5s ease 0s;
    }

    .course-item-block {
        width: 280px;
    }

    .course-item .hover-item {
        height: 100%;
        width: 100%;
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 2;
        border: 1px solid var(--primary-color);
    }

    .course-item:hover {
        transform: translateY(-10px);
        transition: all 0.5s ease 0s;
        box-shadow: 0 6px 10px 0 rgba(95, 101, 105, 0.15);
    }

    .course-item:hover .hover-item {
        display: block;
    }

    .course-item .p-img {
        width: 280px;
        height: 158px;
        overflow: hidden;
        position: relative;
    }

    .course-item .p-img .icon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 50px;
        height: 50px;
        line-height: 50px;
        text-align: center;
        font-size: 36px;
        color: #fff;
    }

    .course-item .p-img img {
        width: 100%;
        height: 100%;
    }

    .course-item .course-info {
        position: relative;
        z-index: 3;
        padding: 15px 15px;
        box-sizing: border-box;
    }

    .course-item .course-info .title {
        height: 60px;
        line-height: 30px;
        margin-bottom: 12px;
        color: var(--primary-grey-color);
    }

    .course-item .course-info .price {
        font-size: 16px;
        color: var(--primary-color);
    }
</style>
<template id="app-course-list">

    <div class="app-course-list">

        <div class="course-list">

            <a class="course-item" target="_blank" :title="item.goods.title" :href="item.url" v-for="(item,index) in list" :key="index">
                <div class="hover-item"></div>
                <div class="p-img">
                    <img :src="item.goods.thumb" :data-original="item.goods.thumb" :alt="item.goods.title" style="display: inline;">
                    <i class="icon iconfont"></i>
                </div>
                <div class="course-info">
                    <div class="title text-over-2">{{ item.goods.title }}</div>
                    <div class="price">¥ {{ item.goods.marketprice }}</div>
                </div>
            </a>

        </div>

    </div>

</template>

<script>
    require(['vue'], (Vue) => {
        Vue.component('app-course-list', {
            template: '#app-course-list',
            props: {
                show: Boolean,
                list: {
                    type: Array,
                    default: [],
                }
            },
            data() {
                return {};
            },
            watch: {
                show() {
                    if (this.show) {

                    }
                },
            },
            computed: {},
            mounted() {
            },
            methods: {}
        });
    });
</script>