<style>
    .app-teacher-detail {
        width: 100%;
        background: var(--background-white-color);
        box-sizing: border-box;
        box-shadow: 0 8px 16px 0 rgba(7, 17, 27, 0.05);
        padding: 50px 40px 30px 40px;
        position: relative;
    }

    .teacher-info {
        width: 100%;
    }

    .teacher-info .avatar-box {
        width: 150px;
        height: 150px;
        margin-bottom: 30px;
    }

    .teacher-info .avatar-box img {
        width: 100%;
        height: 100%;
        border-radius: 100%;
    }
    .teacher-info .name,.teacher-info .description{
        width: 100%;
        line-height: 40px;
        text-align: center;
        font-size: 15px;
    }
    .teacher-info .name{
        font-size: 18px;
        font-weight: bold;
    }
    .teacher-info .description{
        margin-top: 15px;
    }

    .teacher-content {
        width: 100%;
    }
</style>
<template id="app-teacher-detail">

    <div class="app-teacher-detail" :class="show ? 'show' : 'hide'" v-if="teacherInfo">

        <div class="teacher-info flex-column flex-center">
            <div class="avatar-box">
                <img :src="teacherInfo.avatar" :alt="teacherInfo.name">
            </div>
            <div class="name">{{ teacherInfo.name }}</div>
            <div class="description" v-html="teacherInfo.description" style="white-space: pre-wrap;"></div>
        </div>

        <div class="teacher-content" v-html="teacherInfo.content"></div>

    </div>

</template>

<script>
    require(['vue', 'h7.axios', 'jquery', 'tip'], (Vue, axios, $) => {
        Vue.component('app-teacher-detail', {
            template: '#app-teacher-detail',
            props: {
                show: Boolean,
                teacherid: {
                    type: Number,
                    default: 1,
                }
            },
            data() {
                return {
                    teacherInfo: null
                };
            },
            watch: {
                show() {
                    if (this.show) {
                        if (!this.teacherInfo) {
                            this.getTeacherDetail()
                        }
                    }
                },
            },
            mounted() {
                // 测试数据 正式时注释掉
                // this.getTeacherDetail()
            },
            computed: {},
            methods: {
                getTeacherDetail() {
                    let url = "{:url('teacher/detail')}";
                    axios.post(url, {id: this.teacherid}).then((res) => {
                        console.log(res.teacherInfo)
                        this.teacherInfo = res.teacherInfo || {};
                    });
                }
            }
        });
    });
</script>