<style>
    .pages-box {
        margin-top: 30px;
        text-align: right;
    }

    .el-pagination {
        white-space: nowrap;
        padding: 2px 5px;
        color: #303133;
        font-weight: 700;
    }

    .el-pagination.is-background .btn-next:disabled, .el-pagination.is-background .btn-prev:disabled {
        color: #c0c4cc;
    }

    .el-pagination .btn-prev .el-icon {
        display: block;
        font-size: 12px;
        font-weight: 700;
    }

    .el-pager li {
        padding: 0 4px;
        background: #fff;
        vertical-align: top;
        display: inline-block;
        font-size: 13px;
        min-width: 35.5px;
        height: 28px;
        line-height: 28px;
        cursor: pointer;
        box-sizing: border-box;
        text-align: center;
        margin: 0;
    }

    .el-pagination.is-background .btn-next, .el-pagination.is-background .btn-prev, .el-pagination.is-background .el-pager li {
        margin: 0 5px;
        background-color: #f4f4f5;
        color: #606266;
        min-width: 30px;
        border-radius: 2px;
    }

    .el-pagination.is-background .el-pager li:not(.disabled).active {
        background-color: #409eff;
        color: #fff;
    }

    .el-pagination.is-background .el-pager li:not(.disabled).active {
        background-color: #e93323;
        color: #fff;
    }
</style>
<template id="app-list-pages">

    <div class="app-list-pages">

        <div class="pages-box">
            <div class="el-pagination is-background flex-row" style="float: right">
                <button type="button" disabled="disabled" class="btn-prev"><i class="el-icon el-icon-arrow-left iconfont" style="font-size: 14px">&#xeb15;</i></button>
                <ul class="el-pager">
                    <li class="number active">1</li>
                </ul>
                <button type="button" disabled="disabled" class="btn-next"><i class="el-icon el-icon-arrow-right iconfont" style="font-size: 12px">&#xe622;</i></button>
            </div>
        </div>

    </div>

</template>

<script>
    require(['vue'], (Vue) => {
        Vue.component('app-list-pages', {
            template: '#app-list-pages',
            props: {
                show: Boolean,
            },
            data() {
                return {};
            },
            watch: {
                show() {
                    if (this.show) {

                    }
                },
            },
            computed: {},
            mounted() {
            },
            methods: {}
        });
    });
</script>