<style>
    .app-course-chapters {
        width: 100%;
        background: var(--background-white-color);
        box-sizing: border-box;
        box-shadow: 0 8px 16px 0 rgba(7, 17, 27, 0.05);
        padding: 50px 40px 30px 40px;
        position: relative;
    }

    .chapters-list, .chapter-li, .chapter-info, .thumb-box, .thumb-box .thumb, .chapter-item-list, .chapter-item {
        width: 100%;
    }

    .chapters-list, .chapter-li{
        margin-bottom: 30px;
    }

    .chapter-li .desc {
        line-height: 30px;
        padding: 20px;
        box-sizing: border-box;
        position: relative;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.16);
    }

    .chapter-info {
        margin-bottom: 50px;
        background-color: #ffffff;
    }

    .chapter-info .desc .title {
        font-size: 16px;
        cursor: pointer;
        color: var(--primary-black-color);
        font-weight: bold;
        margin-bottom: 15px;
    }

    .chapter-info .desc .price {
        font-size: 16px;
        cursor: pointer;
        color: var(--primary-color);
    }

    .chapter-item {
        width: 30%;
        cursor: pointer;
        margin-bottom: 40px;
        transition: transform 0.5s ease 0s;
    }

    .chapter-item:hover {
        transform: translateY(-10px);
        transition: all 0.5s ease 0s;
    }

    .chapter-item .desc .title {
        font-size: 15px;
        color: var(--primary-black-color);
        margin-bottom: 12px;
    }

    .chapter-item .desc .time {
        font-size: 14px;
        color: var(--primary-grey-color);
    }

</style>
<template id="app-course-chapters">

    <div class="app-course-chapters" :class="show ? 'show' : 'hide'" v-if="chaptersList">

        <div class="chapters-list">

            <div class="chapter-li" v-for="(chapter,chapterIndex) in chaptersList" :key="chapterIndex">
                <div class="chapter-info">
                    <div class="thumb-box">
                        <img :src="chapter.thumb" alt="" class="thumb">
                    </div>
                    <div class="desc">
                        <div class="title">{{ chapter.displayorder_val }} {{ chapter.title }}</div>
                        <div class="price">全课: ¥160</div>
                    </div>
                </div>
                <div class="chapter-item-list flex-between" style="flex-wrap: wrap;">
                    <div class="chapter-item" v-for="(chapterItem,itemIndex) in chapter.items" :key="itemIndex" @click="jumpUrl(chapterItem,2)">
                        <div class="thumb-box">
                            <img :src="chapterItem.thumb" alt="" class="thumb">
                        </div>
                        <div class="desc">
                            <div class="title">{{ chapterItem.displayorder_val }} {{ chapterItem.title }}</div>
                            <div class="time"><span class="iconfont">&#xe611;</span><span style="margin-left: 6px;">16:00</span></div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</template>

<script>
    require(['vue', 'h7.axios', 'jquery', 'tip'], (Vue, axios, $) => {
        Vue.component('app-course-chapters', {
            template: '#app-course-chapters',
            props: {
                show: Boolean,
                goodsid: {
                    type: Number,
                    default: 0,
                }
            },
            data() {
                return {
                    chaptersList: null,
                };
            },
            watch: {
                show() {
                    if (this.show) {
                        if (!this.chaptersList) {
                            this.getChaptersList()
                        }
                    }
                },
            },
            computed: {},
            mounted() {
                // this.getChaptersList();
            },
            methods: {
                getChaptersList() {
                    let url = "{:url('goods/chapters')}";
                    axios.post(url, {id: this.goodsid}).then((res) => {
                        console.log(res);
                        this.chaptersList = res.chaptersList || [];
                    });
                },
                jumpUrl(item, type = 1) {
                    let url = `{:url('course/play')}?id=${item.goodsid}&itemId=${item.id}`;
                    switch (type) {
                        case 1:
                            location.href = url;
                            break;
                        case 2:
                            window.open(url, "_blank");
                            break;
                    }
                },
            }
        });
    });
</script>