<style>

</style>
<template id="app-goods-detail">

    <div class="app-goods-detail">

        <div class="detail-tab-nav">
            <div class="tab-nav border-b">
                <ul class="list-inline not-p flex flex-around">
                    <li :class="{'active':tabIndex === 1}" @click="changeTab(1)"><a href="#tab-2" data-toggle="tab" aria-expanded="true">课程介绍</a></li>
                    <li :class="{'active':tabIndex === 2}" @click="changeTab(2)"><a href="#tab-1" data-toggle="tab" aria-expanded="false">课程目录</a></li>
                    <li :class="{'active':tabIndex === 3}" @click="changeTab(3)"><a href="#tab-3" data-toggle="tab" aria-expanded="false">导师介绍</a></li>
                </ul>
            </div>
        </div>

        <div class="detail-content-wrap" v-show="tabIndex === 1">
            <div class="goods-detail-content">
                {$goodsInfo['content']|raw}
            </div>
        </div>

        <div class="catalogue-content-wrap" v-show="tabIndex === 2">
            <!-- 课程目录 start -->
            <app-course-chapters :show="tabIndex === 2" :goodsid="goodsId"></app-course-chapters>
            <!-- 课程目录 end -->
        </div>

        <div class="teacher-content-wrap" v-show="tabIndex === 3">
            <!-- 导师详情 start -->
            <app-teacher-detail :show="tabIndex === 3" :teacherid="teacherId"></app-teacher-detail>
            <!-- 导师详情 end -->
        </div>

    </div>

</template>

<script>
    require(['vue'], (Vue) => {
        Vue.component('app-goods-detail', {
            template: '#app-goods-detail',
            props: {
                show: Boolean,
            },
            data() {
                return {
                    tabIndex: 1,
                    goodsId: "{$goodsInfo['id']}",
                    teacherId: "{$goodsInfo['teacherid']}",
                };
            },
            watch: {
                show() {
                    if (this.show) {

                    }
                },
            },
            computed: {},
            mounted() {
            },
            methods: {
                changeTab(index) {
                    this.tabIndex = index
                },
            }
        });
    });
</script>