<style>
    .app-search .menu-list {
        background-color: #ffffff;
        padding: 0 25px;
    }

    .app-search .menu-list .menu-item {
        padding: 5px 25px;
        line-height: 46px;
        display: flex;
        align-items: center;
    }

    .app-search .menu-list .menu-item .type {
        color: #999;
        text-align: left;
        width: 70px;
    }

    .app-search .menu-list .menu-item .type.more {
        cursor: pointer;
    }

    .app-search .menu-list .menu-item .type-value {
        flex: 1;
        width: 0;
        font-size: 0;
        padding: 5px 0;
        line-height: 36px;
    }

    .app-search .menu-list .menu-item .type-value.hide-label {
        height: 36px;
        overflow-y: hidden;
    }

    .app-search .menu-list .menu-item .type-value .value-item {
        display: inline-block;
        margin-right: 45px;
        font-size: 14px;
        color: #919191;
    }

    .app-search .menu-list .menu-item .type-value .value-item.active, .app-search .menu-list .menu-item .type-value .value-item:hover {
        color: var(--primary-color);
    }

    .app-search .all-label {

    }

    .app-search .all-sort {
        margin-top: 16px;
    }

    .app-search .all-category {
        border-top: 1px solid var(--border-divider-color);
    }
</style>
<div class="row app-search">
    <!-- 标签 -->
    <div class="menu-list all-label">
        <div class="menu-item" style="align-items: start;">
            <div class="type">功能</div>
            <div class="type-value"><!--hide-label-->
                <a href="javascript:;" class="value-item active">全部</a>
                <a href="javascript:;" class="value-item">小程序</a>
                <a href="javascript:;" class="value-item">小程序</a>
                <a href="javascript:;" class="value-item">小程序</a>
            </div>
            <div class="type more">更多<i class="icon icon-angle-down" style="font-size: 10px;"></i></div>
        </div>
    </div>

    <!-- 排序 -->
    <div class="menu-list all-sort">
        <div class="menu-item" style="align-items: start;">
            <div class="type">排序</div>
            <div class="type-value">
                <a href="javascript:;" class="value-item active">默认</a>
                <a href="javascript:;" class="value-item">畅销</a>
                <a href="javascript:;" class="value-item">创建时间</a>
                <a href="javascript:;" class="value-item">更新时间</a>
                <a href="javascript:;" class="value-item">价格</a>
            </div>
        </div>
    </div>

    <!-- 类型 -->
    <div class="menu-list all-category">
        <div class="menu-item" style="align-items: start;">
            <div class="type">平台</div>
            <div class="type-value">
                <a href="javascript:;" class="value-item active">全部</a>
                <a href="javascript:;" class="value-item">微信公众号</a>
                <a href="javascript:;" class="value-item">微信小程序</a>
                <a href="javascript:;" class="value-item">PC</a>
                <a href="javascript:;" class="value-item">APP</a>
                <a href="javascript:;" class="value-item">UniApp</a>
            </div>
        </div>
    </div>
</div>