{extend name="pc/common/_base" /}

{block name="title"}
<title>我的地址-{$website['title']}</title>
{/block}

{block name="style"}
<link rel="stylesheet" href="{$moduleAttachUrl}/static/css/user.css">
{/block}

{block name="main"}

{include file="pc/components/app-address-dialog" /}

<section>
    <div class="user-center-main">

        <div class="container">

            <div class="user-inner flex">

                <!-- 左侧菜单 -->
                <div class="user-aside">
                    {include file="pc/user/tpl/menu" /}
                </div>

                <!-- 右侧菜单 -->
                <div class="user-main address-wrapper">

                    <div class="sub-title">
                        <span>我的地址</span>
                    </div>

                    <div class="address-content" id="addressWrapper" v-cloak>
                        <ul class="clearfix">

                            <li v-for="(item,index) in addressList" :key="index">
                                <div class="name line1">{{ item.realname }}</div>
                                <div class="phone">{{ item.mobile }}</div>
                                <div class="text line4">{{ item.province }}{{ item.city }}{{ item.area }}{{ item.address }}</div>
                                <div class="edit-box">
                                    <span @click="editAddress(item)">修改</span>
                                    <span @click="deleteAddress(item)">删除</span>
                                </div>
                                <div class="moren" v-if="item.isdefault">默认</div>
                            </li>

                            <li class="addbox" @click="addAddress()">
                                <div class="box">
                                    <i class="iconfont">&#xe621;</i>
                                    <p>添加新地址</p>
                                </div>
                            </li>
                        </ul>

                        <!-- 地址模板 start -->
                        <app-address-dialog :show="dialogShow" :addressid="addressId" @confirm="confirmAddress" @cancel="cancelAddress"></app-address-dialog>
                        <!-- 地址模板 end -->

                    </div>

                </div>

            </div>


        </div>

    </div>

</section>
{/block}

{block name="script"}
<script>
    require(['vue', 'h7.axios', 'jquery', 'tip'], (Vue, axios, $) => {

        new Vue({
            el: '#addressWrapper',
            data: {
                dialogShow: false,
                addressList: [],
                addressId: 0,
            },
            mounted() {
                this.getAddressList()
            },
            methods: {
                editAddress(item) {
                    this.addressId = item.id;
                    this.dialogShow = true;
                },
                deleteAddress(item) {
                    let url = "{:url('address/delete')}";
                    tip.confirm('确认要删除该地址么', () => {
                        axios.post(url, {id: item.id}).then((res) => {
                            this.getAddressList()
                        });
                    });
                },
                getAddressList() {
                    let url = "{:url('address/list')}";
                    axios.post(url, {}).then((res) => {
                        this.addressList = res.addressList || [];
                    });
                },
                addAddress() {
                    this.addressId = 0;
                    this.dialogShow = true;
                },
                confirmAddress(o) {
                    this.dialogShow = false;
                    this.getAddressList();
                },
                cancelAddress() {
                    this.dialogShow = false;
                    this.getAddressList();
                },
            }
        });

    });
</script>
{/block}