{extend name="pc/common/_base" /}

{block name="title"}
<title>我的余额-{$website['title']}</title>
{/block}

{block name="style"}
<link rel="stylesheet" href="{$moduleAttachUrl}/static/css/user.css">
{/block}

{block name="main"}
{include file="pc/components/app-list-pages" /}
<section>
    <div class="user-center-main">

        <div class="container">

            <div class="user-inner flex">

                <!-- 左侧菜单 -->
                <div class="user-aside">
                    {include file="pc/user/tpl/menu" /}
                </div>

                <!-- 右侧菜单 -->
                <div class="user-main balance-wrapper" id="balanceWrapper" v-cloak>

                    <div class="sub-title">
                        <span>我的余额</span>
                    </div>

                    <div class="balance-box">
                        <div class="money-box">
                            <div class="money-item">
                                <span>账户可用余额(元)</span>
                                <p>{$memberInfo['credit2']}</p>
                            </div>
                            <div class="money-item">
                                <span>累计充值(元)：</span>
                                <p>{$sumRecharge}</p>
                            </div>
                            <div class="money-item">
                                <span>累计消费(元)：</span>
                                <p>{$sumPay}</p>
                            </div>
                        </div>
                    </div>

                    <div class="balance-log-list">

                        <div class="user-com-tab flex-between">
                            <div class="order-status flex-row">
                                <div class="item" :class="{'on':parseInt(status) === 0}" @click="changeStatus(0)">账单明细</div>
                                <div class="item" :class="{'on':parseInt(status) === 1}" @click="changeStatus(1)">收入明细</div>
                                <div class="item" :class="{'on':parseInt(status) === 2}" @click="changeStatus(2)">支出明细</div>
                            </div>
                        </div>

                        <div class="log-list" :class="{'log-empty':recordList.length <= 0}">
                            <template v-if="recordList.length > 0">
                                <ul>
                                    <li v-for="(item,index) in recordList" :key="index">
                                        <div class="bd">
                                            <div class="flex-between">
                                                <span class="note">{{ item.note }}</span>
                                                <span class="fee">{{ item.type > 1 ? '+' : '-' }}{{ item.fee }}</span>
                                            </div>
                                            <div class="content">
                                                <span class="date">{{ item.createtime }}</span>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </template>

                            <template v-else>
                                {php}$emptyImg = $moduleAttachUrl . "/static/images/noyue.png";{/php}
                                {php}$emptyTip = "亲，暂无账单明细哟~";{/php}
                                {include file="pc/common/_empty"/}
                            </template>

                            <!-- 分页 start -->
                            <template v-if="recordList.length > 0">
                                <app-list-pages></app-list-pages>
                            </template>
                            <!-- 分页 end -->

                        </div>
                    </div>


                </div>

            </div>

        </div>

    </div>
</section>
{/block}

{block name="script"}
<script>
    require(['vue', 'h7.axios', 'jquery', 'tip'], (Vue, axios, $) => {

        new Vue({
            el: '#balanceWrapper',
            data: {
                status: "{$_GET['status'] ? $_GET['status'] : 0}",
                recordList: []
            },
            mounted() {
                this.getRecordList();
            },
            methods: {
                changeStatus(status) {
                    this.status = status;
                    this.getRecordList();
                },
                getRecordList() {
                    let url = "{:url('record/list')}";
                    axios.post(url, {status: this.status}).then((res) => {
                        this.recordList = res.recordList || [];
                    });
                },
            }
        });

    });
</script>
{/block}