{extend name="pc/common/_base" /}

{block name="title"}
<title>我的收藏-{$website['title']}</title>
{/block}

{block name="style"}
<link rel="stylesheet" href="{$moduleAttachUrl}/static/css/user.css">
{/block}

{block name="main"}
{include file="pc/components/app-list-pages" /}
<section>
    <div class="user-center-main collect">

        <div class="container">

            <div class="user-inner flex">

                <!-- 左侧菜单 -->
                <div class="user-aside">
                    {include file="pc/user/tpl/menu" /}
                </div>

                <!-- 右侧菜单 -->
                <div class="user-main" id="favoriteWrapper" v-cloak>

                    <div class="sub-title">
                        <span>我的收藏</span>
                    </div>

                    <div class="content">
                        <template v-if="favoriteList.length > 0">
                            <ul class="goods-ul">

                                <li v-for="(item,index) in favoriteList" :key="index">
                                    <div class="hd">
                                        <div class="img-box" @click="lookGoodsDetail(item.url)"><img :src="item.goods.thumb" :alt="item.goods.title" onerror="this.src='{$moduleAttachUrl}/static/images/default-img.png'"></div>
                                        <div class="info line2" @click="lookGoodsDetail(item.url)">{{ item.goods.title }}</div>
                                    </div>
                                    <div class="bd">
                                        <button type="button" class="btn btn-default" @click="cancelFavorite(index)"><span>取消收藏</span></button>
                                        <button type="button" class="btn btn-default" @click="lookGoodsDetail(item.url)"><span>查看商品</span></button>
                                    </div>
                                </li>

                            </ul>
                        </template>

                        <template v-else>
                            {include file="pc/common/_empty"/}
                        </template>

                        <!-- 分页 start -->
                        <template v-if="favoriteList.length > 0">
                            <app-list-pages></app-list-pages>
                        </template>
                        <!-- 分页 end -->


                    </div>

                </div>

            </div>

        </div>

    </div>
</section>
{/block}

{block name="script"}
<script>
    require(['vue', 'h7.axios', 'jquery', 'tip'], (Vue, axios, $) => {

        new Vue({
            el: '#favoriteWrapper',
            data: {
                favoriteList: []
            },
            mounted() {
                this.getFavoriteList()
            },
            methods: {
                cancelFavorite(index) {
                    let url = "{:url('favorite/delete')}";
                    axios.post(url, {id: this.favoriteList[index].id}).then((res) => {
                        tip.msgbox.suc('取消成功');
                        this.favoriteList.splice(index, 1);
                    });
                },
                getFavoriteList() {
                    let url = "{:url('favorite/list')}";
                    axios.post(url, {}).then((res) => {
                        this.favoriteList = res.favoriteList || [];
                    });
                },
                lookGoodsDetail(url) {
                    location.href = url;
                }
            }
        });

    });
</script>
{/block}