<style>
    .common-head {
        padding-top: 30px;
        padding-bottom: 30px;
        background-color: #fff;
        margin-bottom: 20px;
    }

    .common-head .row {
        height: 70px;
    }
    .common-head .pull-left,.common-head .pull-right {
        height: 100%;
    }
    .common-head .pull-left .title {
        font-size: 32px;
        color: var(--primary-dark-color);
    }

    .common-head .pull-left .sub-title {
        font-size: 16px;
        color: #919191;
        margin-top: 10px;
    }

    .common-head .search {
        flex: 1;
        justify-content: flex-end;
    }

    .common-head .search .form {
        display: flex;
        position: relative;
        align-items: center;
        justify-content: flex-end;
        padding-left: 30px;
        flex: 1;
    }

    .common-head .search .hot-keyword-box {
        position: relative;
        flex: 1;
    }

    .common-head .search .hot-keyword-box .ui-input {
        height: 38px;
        line-height: 38px;
        box-sizing: border-box;
        border: 2px solid #428bca;
        outline: 0;
        box-shadow: 0 0 0;
        width: 100%;
        flex: 1 1;
        border-radius: 0;
        padding-left: 10px
    }

    .common-head .search .hot-keyword-box .ui-input::-moz-placeholder {
        color: #b1b1b1
    }

    .common-head .search .hot-keyword-box .ui-input:-ms-input-placeholder {
        color: #b1b1b1
    }

    .common-head .search .hot-keyword-box .ui-input::placeholder {
        color: #b1b1b1
    }

    .common-head .search .hot-keyword-box .ui-input:focus {
        border: 2px solid #428bca;
        outline: 0
    }

    .common-head .search .hot-keyword-box .hot-keyword {
        position: absolute;
        /* display:none; */
        left: 0;
        right: 0;
        border: 1px solid #e7e6eb;
        margin-top: -1px;
        background-color: #fff;
        text-align: left;
        z-index: 999
    }

    .common-head .search .hot-keyword-box .hot-keyword .item {
        padding: 10px;
        display: block
    }

    .common-head .search .hot-keyword-box .hot-keyword .item:hover {
        color: #428bca
    }

    .common-head .search .hot-keyword-box .hot-keyword.active {
        display: block
    }

    .common-head .search .btn {
        vertical-align: middle;
        white-space: nowrap;
        border-radius: 0;
        background-color: #428bca;
        color: #fff;
        width: 90px;
        border: 1px solid #428bca;
        height: 38px
    }

    @media (min-width: 768px) {
        .common-head .common-head-info{
            display: flex;
        }
    }
    @media (max-width: 767px) {
        .common-head{
            padding: 30px;
        }
        .common-head .search{
            width: 100%;
        }
        .common-head .search .form{
            padding-left: 0;
        }
        .common-head .common-head-info .pull-left{
            width: 100%;
            text-align: center;
            justify-content: center;
        }
    }
</style>

<section class="common-head">

    <div class="container">

        <div class="row common-head-info">

            <div class="pull-left flex-column-center">
                <a href="" class="">
                    <h2 class="title">应用市场</h2>
                    <h3 class="sub-title">基于星数引擎框架开发的应用和插件！</h3>
                </a>
            </div>

            <div class="search pull-right flex-column-center" id="js-header-search" >
                <div class="form">
                    <div class="hot-keyword-box">
                        <input type="text" v-model="keyword" @focus="showHotKeyword = 1" @blur="hide" id="keyword" placeholder="输入应用名称/标签/开发者/相关链接" autocomplete="off" class="ui-input">
                        <div for="keyword" class="hot-keyword" v-show="showHotKeyword" v-cloak>
                            <a :href="'?keyword='+item" target="_blank" class="item text-over" v-for="(item,index) in hot_keyword" :key="index">{{ item }}</a>
                        </div>
                    </div>
                    <button type="button" class="btn" @click="submit">搜索</button>
                </div>
            </div>

        </div>

    </div>

</section>

<script>
    require(['vue','h7.axios','jquery.gcjs'], (Vue,axios,$) => {

        console.log('isEmail',$.isEmail('786824455@qq.com'));

        axios.get('store/api.index/index').then((res) => {
            console.log('res',res)
        });

        new Vue({
            el: '#js-header-search',
            data: {
                keyword: "",
                hot_keyword: [],
                search_log: [],
                showHotKeyword: false
            },
            mounted(){
                this.getKeyword()
            },
            methods: {
                submit: function () {
                    if( this.keyword ){
                        let localKeywords = JSON.parse(window.localStorage.getItem('localKeywords')) || [];
                        if (localKeywords.indexOf(this.keyword) === -1) {
                            localKeywords.unshift(this.keyword)
                        }
                        if (localKeywords.length > 2) {
                            localKeywords.pop()
                        }
                        window.localStorage.setItem('localKeywords', JSON.stringify(localKeywords));
                    }
                    location.href = '?keyword=' + encodeURIComponent(this.keyword);
                },
                getKeyword: function () {
                    if (!this.showHotKeyword) {
                        this.hot_keyword = JSON.parse(window.localStorage.getItem('localKeywords')) || [];
                        if (!this.search_log.length) {
                            this.search_log = [];

                            // axios.get('/home/search_log').then((res) => {
                            //     let search_log = res.data.search_log;
                            //     for (let i in search_log) {
                            //         if (this.hot_keyword.indexOf(search_log[i]['keyword']) === -1) {
                            //             this.search_log.push(search_log[i]['keyword'])
                            //         }
                            //     }
                            //     this.showHotKeyword = true
                            // })

                        } else {
                            this.showHotKeyword = true
                        }
                    }
                },
                hide() {
                    setTimeout(() => {
                        this.showHotKeyword = false
                    }, 200)
                }
            },
        });
    });

    // require(['jquery', 'tip'], ($) => {
    // tip.msgbox.err("请输入意见内容");
    // tip.msgbox.suc("请输入意见内容");
    // tip.alert("请输入意见内容");
    // tip.promptlive("请输入意见内容");
    // tip.prompt("请输入意见内容");
    // tip.confirm("请输入意见内容");
    // })
</script>