{extend name="pc/common/_base" /}

{block name="title"}
{if !empty($goodsInfo)}
<title>{$goodsInfo['title']}-{$website['title']}</title>
{/if}
{/block}

{block name="style"}
<link rel="stylesheet" href="{$moduleAttachUrl}/static/css/play.css">
{/block}

{block name="nav"}
{/block}

{block name="main"}
{include file="pc/components/app-course-aliplayer"/}
<div class="course-play-main">

    <div id="preload-video" style="position:absolute;top:60px;bottom:0;width:100%;"></div>

    <div class="play-content index-placeholder-body" id="play-content" v-cloak>
        <template v-if="goodsInfo && goodsInfo.id > 0">
            <div class="study-header">
                <div class="current-task-name header-item" :title="goodsInfo.title">
                    <template v-if="chapterItemInfo">
                        {{ chapterItemInfo ? chapterItemInfo.title : '' }}
                    </template>
                    <template v-else>
                        【{{ categoryInfo.name }}】{{ goodsInfo.title }}
                    </template>
                </div>
                <div class="sign-tips header-item">
                    <section class="">
                        <a :href="confirmUrl + '?id=' + goodsId" class="im-btn sign-btn btn-default btn-m" type="button" v-if="!goodsInfo.isPlay"><i class="icon-css icon-css-plus icon-css--m iconfont">&#xe621;</i><span>立即购买</span></a>
                    </section>
                </div>
                <div class="operations">
                    <div class="share header-item" @click="jumpUrl(goodsInfo.url)">课程详情</div>

                    <template v-if="isLogin">
                        <div class="header-item profile" @mouseenter="onHoverProfile(true)" @mouseleave="onHoverProfile(false)">
                            <div class="s-avatar"><img class="avatar-img img--full-radius" src="{$memberInfo['avatar']}" alt="{$memberInfo['nickname']}" width="32" height="32" onerror="this.src='{$moduleAttachUrl}/static/images/avatars/noface.png'"></div>
                            <ul class="profile-menu" :class="{'hidden' : !isShowProfile}">
                                <li class="li-item"><a href="{:url('user/history')}" target="_blank" rel="noopener noreferrer">课程表</a></li>
                                <li class="li-item"><a href="{:url('user/coupon')}" target="_blank" rel="noopener noreferrer">优惠券</a></li>
                                <li class="li-item"><a href="{:url('user/course')}" target="_blank" rel="noopener noreferrer">购买课程</a></li>
                                <li class="li-item"><a href="{:url('user/favorite')}" target="_blank" rel="noopener noreferrer">收藏</a></li>
                                <li class="li-item last" @click="loginOut()"><span>退出</span></li>
                            </ul>
                        </div>
                    </template>
                    <template v-else>
                        <div class="share header-item">登录</div>
                    </template>
                </div>
            </div>

            <div class="right-side-bar normal-task" :style="isShowRightSideBar ? 'width: 360px; right: 0;' : 'width: 360px; right: -360px;'">
                <div class="side-bar-cnt">
                    <div class="special-tab has-docs">
                        <div class="special-tab-cnt">
                            <div class="tab-cnt">
                                <div class="tab-content">
                                    <div class="tab-item">
                                        <div class="tab-tap active">目录</div>
                                    </div>
                                    <div class="tab-slider" style="margin-left: 36px;">
                                        <div class="slider-item"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="new-tip" v-if="goodsInfo.isnew"><i class="iconfont">&#xe62c;</i></div>
                        </div>
                    </div>
                    <div class="content-wrapper">
                        <div class="content-body" style="width: 200%; margin-left: 0%;">
                            <div class="content-item">
                                <div class="playlist-cnt">
                                    <section class="">
                                        <div class="course-name" :title="goodsInfo.title">{{ goodsInfo.title }}</div>
                                    </section>

                                    <ul class="chapters">
                                        <template v-if="chaptersList">
                                            <li v-for="(chapter,chapterIndex) in chaptersList" :key="chapterIndex">
                                                <div class="sub-title" :title="chapter.displayorder_val + ' ' + chapter.title" @click="selectChapter(chapterIndex)">{{ chapter.displayorder_val }} {{ chapter.title }}</div>

                                                <block v-for="(chapterItem,chapterItemIndex) in chapter.items" :key="chapterItemIndex" v-if="parseInt(chapter.selected) === 1">
                                                    <div class="task-item task-info" :class="{'active' : parseInt(chapterItemId) === parseInt(chapterItem.id)}" :title="chapterItem.displayorder_val + ' ' + chapterItem.title" @click="selectChapterItem(chapterItem)">
                                                        <div class="task-info-cnt">
                                                    <span class="task-type" :class="{'active' : parseInt(chapterItemId) === parseInt(chapterItem.id)}">
                                                        <svg width="1em" height="1em" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M7 14A7 7 0 107 0a7 7 0 000 14zM5.919 9.705L9.308 7.44a.302.302 0 000-.502l-3.39-2.265a.308.308 0 00-.314-.016.302.302 0 00-.162.267v4.53c0 .112.063.215.162.267.1.053.221.047.315-.016z" fill="currentColor"></path>
                                                        </svg>
                                                    </span>
                                                            <div class="task-inner">
                                                                <p class="task-name-cnt">
                                                                    <span class="task-name">{{ chapterItem.displayorder_val + ' ' + chapterItem.title }}</span>
                                                                    <span class="task-labels" v-if="chapterItem.is_trysee"><span class="task-label">试学</span></span>
                                                                </p>
                                                                <p class="task-suffix">{{ chapterItem.video_duration_time }}</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </block>

                                            </li>
                                        </template>
                                        <template v-else>
                                            {include file="pc/common/_lazy_loading"/}
                                        </template>

                                    </ul>
                                </div>
                            </div>
                            <div class="content-item"></div>
                        </div>
                    </div>
                </div>
                <div class="fold-btn" @click="showRightSideBar(false)" v-if="isShowRightSideBar"><i class="btn-img iconfont">&#xe622;</i></div>
                <div class="expand-btn" @click="showRightSideBar(true)" v-if="!isShowRightSideBar"><i class="btn-img iconfont">&#xeb15;</i></div>
                <div class="side-bar-resizer"></div>
            </div>

            <div class="study-body" :style="isShowRightSideBar ? 'right: 360px;' : 'right: 0;'">

                <a class="banner-container" :href="confirmUrl + '?id=' + goodsId" v-if="!goodsInfo.isPlay">
                    <span class="banner-word">由于机构课程版权保护限制，购买后可观看更多课程</span>
                    <button class="im-btn btn-default btn-default btn-m" type="submit"><span class="jump-client-hint">立即购买</span></button>
                </a>

                <div class="video-wrap tc-video" tabindex="">
                    <div id="txvideo-player-container" class="video-ctn">
                        <div id="x-tcp-container" style="height: 100%;">
                            <div id="loki-player" class="loki-interact loki-js control-autohide control-progress loki-state-paused loki-state-active" tabindex="0">
                                <div id="video-container" class="loki-container">
                                    <template v-if="vid">
                                        <app-course-aliplayer class="aliplayer_box" ref="player" autoplay="false" format="m3u8" encrypt_type="1" :vid="vid" :playauth="playAuth" :cover="cover"></app-course-aliplayer>
                                    </template>
                                    <template v-else>

                                        <div class="aliplayer-block">
                                            <img :src="goodsInfo.thumb" style="width: 100%;opacity: 0.3;">
                                            <div class="playbtn" @click="getPlayInfo()"><i class="iconfont">&#xe624;</i></div>
                                        </div>

                                    </template>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </template>
        <template v-else>
            {include file="pc/common/_lazy_loading"/}
        </template>
    </div>

</div>

{/block}

{block name="script"}

<script>
    require(['vue'], (Vue) => {
        new Vue({
            el: '#play-content',
            data: {
                confirmUrl: "{:url('order/confirm')}",

                isLogin: true,
                isShowRightSideBar: true,
                isShowProfile: false,

                id: "{$goodsId}",
                chapterItemId: "{$chapterItemId}",

                goodsInfo: null,
                categoryInfo: null,
                chaptersList: null,
                chapterItemInfo: null,

                vid: '',
                playAuth: "",
                cover: "",
            },
            mounted() {
                this.$nextTick(() => {
                    // this.aliplayerTest()
                    this.getGoodsInfo();
                });
            },
            methods: {
                selectChapter(index) {
                    this.chaptersList[index].selected = this.chaptersList[index].selected === 1 ? 0 : 1;
                },
                selectChapterItem(chapterItem) {
                    this.chapterItemId = chapterItem.id;
                    this.chapterItemInfo = chapterItem;
                    if (chapterItem.thumb) {
                        this.goodsInfo.thumb = chapterItem.thumb;
                    }
                    this.getPlayInfo();
                },
                async getGoodsInfo() {
                    new Promise((resolve, reject) => {
                        require(['h7.axios'], (axios) => {
                            let url = "{:url('goods/detail')}";
                            axios.post(url, {id: this.id}).then((res) => {
                                this.goodsInfo = res.goodsInfo;
                                this.categoryInfo = res.categoryInfo;
                            });
                            this.getGoodsChapters(axios);
                        });
                    });
                },
                async getGoodsChapters(axios) {
                    new Promise((resolve, reject) => {
                        let url = "{:url('goods/chapters')}";
                        axios.post(url, {id: this.id}).then((res) => {
                            let chaptersList = res.chaptersList || [];

                            chaptersList.map(item => {
                                item.selected = 1;

                                if (parseInt(this.chapterItemId) > 0) {
                                    item.items.map(chapterItem => {
                                        if (parseInt(this.chapterItemId) === chapterItem.id) {
                                            this.chapterItemInfo = chapterItem;
                                        }
                                    });
                                }

                            });

                            if (parseInt(this.chapterItemId) === 0) {
                                this.chapterItemInfo = chaptersList[0]['items'][0];
                                this.chapterItemId = chaptersList[0]['items'][0].id;
                            } else {
                                this.getPlayInfo();
                            }

                            this.chaptersList = chaptersList;
                        });
                    });
                },
                aliplayerTest() {
                    if (this.vid) {
                        console.log(this.$refs.player);
                        this.$refs.player.test();
                    }
                },
                getPlayInfo() {
                    this.changeUrl();
                    require(['h7.axios'], (axios) => {
                        let url = "{:url('course/getPlayInfo')}";
                        axios.post(url, {goodsId: this.id, chapterItemId: this.chapterItemId}).then((res) => {
                            this.vid = res.vid;
                            this.playAuth = res.playAuth;
                            this.cover = res.cover;
                        });
                    });
                },
                showRightSideBar(flag) {
                    this.isShowRightSideBar = flag;
                },
                onHoverProfile(e) {
                    this.isShowProfile = e;
                },
                jumpUrl(url, type = 1) {
                    switch (type) {
                        case 1:
                            location.href = url;
                            break;
                        case 2:
                            window.open(url, "_blank");
                            break;
                    }
                },
                loginOut() {
                    require(['jquery', 'tip', 'ajax'], ($) => {
                        tip.confirm("确认退出登录么?", () => {
                            let url = "{:url('user/logout')}";
                            ajax.post(url, {}, (json) => {
                                location.href = "{:url('user/login')}"
                            });
                        });
                    });
                },

                // 改变当前地址参数
                changeUrl() {
                    let newUrl = this.changeURLArg(window.location.href, 'itemId', this.chapterItemId);
                    history.replaceState(0, 0, newUrl);
                },
                /**
                 * 改变url中的参数 参考:https://blog.csdn.net/WuLex/article/details/89194384
                 * @param url 地址
                 * @param arg 参数名
                 * @param arg_val 参数值
                 * @returns
                 */
                changeURLArg(url, arg, arg_val) {
                    var pattern = arg + '=([^&]*)';
                    var replaceText = arg + '=' + arg_val;
                    if (url.match(pattern)) {
                        var tmp = '/(' + arg + '=)([^&]*)/gi';
                        tmp = url.replace(eval(tmp), replaceText);
                        return tmp;
                    } else {
                        if (url.match('[\?]')) {
                            return url + '&' + replaceText;
                        } else {
                            return url + '?' + replaceText;
                        }
                    }
                },

                /**
                 * 获取url里的参数 参考:https://blog.csdn.net/WuLex/article/details/89194384
                 * @param arg 参数名
                 * @returns
                 */
                getURLString(arg) {
                    let reg = new RegExp("(^|&)" + arg + "=([^&]*)(&|$)", "i");
                    let r = window.location.search.substr(1).match(reg);
                    if (r != null)
                        return unescape(r[2]);
                    return null;
                },

            }
        });

    });
</script>
{/block}