{extend name="pc/common/_base" /}

{block name="title"}
<title>购物车-{$website['title']}</title>
{/block}

{block name="style"}
<link rel="stylesheet" href="{$moduleAttachUrl}/static/css/cart.css">
{/block}

{block name="main"}
<section>
    <div class="user-cart-main">

        <div class="container">

            <!-- 面包屑 -->
            <div class="bread-crumb row">
                <div class="detail-path">
                    <a href="{:url('/')}">首页</a>
                    <i class="icon iconfont">&#xe603;</i>
                    <span>购物车</span>
                </div>
            </div>
            <!-- 面包屑end -->

            <div class="cart-main" id="cart-main" v-cloak>

                <template v-if="cartList.length > 0">
                    <div class="cartList">
                        <div class="header flex flex-middle">
                            <div class="allSelect flex flex-center">
                                <div class="checkbox-wrapper flex-center"><label class="well-check"><input type="checkbox" v-model="selectAll" :checked="selectAll" @change="changeSelectAll()"> <i class="icon"></i> <span class="checkAll">全选</span></label></div>
                            </div>
                            <div class="info flex flex-center">商品信息</div>
                            <div class="price flex flex-center">单价</div>
                            <div class="num flex flex-center">数量</div>
                            <div class="money flex flex-center">金额</div>
                            <div class="operate flex flex-center">操作</div>
                        </div>
                        <div class="body">
                            <div class="item flex flex-middle" v-for="(item,index) in cartList" :key="index">
                                <div class="allSelect flex flex-center">
                                    <div class="checkbox-wrapper"><label class="well-check"><input type="checkbox" v-model="item.selected" :checked="item.selected" @change="changeSelectItem(index)"> <i class="icon"></i></label></div>
                                </div>
                                <div class="info flex flex-middle">
                                    <div class="pictrue"><img :src="item.goods.thumb"></div>
                                    <div class="text">
                                        <div class="name line2">{{ item.goods.title }}</div>
                                        <div class="infor">单位：{{ item.goods.unit }}</div>
                                    </div>
                                </div>
                                <div class="price flex flex-center">
                                    ¥{{ item.goods.marketprice }}
                                </div>
                                <div class="num flex flex-center">
                                    <div class="iconfont-box cursor" @click="reduceTotal(index)"><i class="iconfont grey">&#xe60c;</i></div>
                                    <input class="numCon" v-model="item.total">
                                    <div class="iconfont-box cursor" @click="addTotal(index)"><i class="iconfont">&#xe621;</i></div>
                                </div>
                                <div class="money flex flex-center font-color">
                                    ¥{{ Number((item.total * item.goods.marketprice).toFixed(2)) }}
                                </div>
                                <div class="operate flex flex-center cursor" @click="deleteCart(index)"><span class="iconfont">&#xe614;</span></div>
                            </div>
                        </div>
                    </div>
                    <div class="footer flex flex-between" v-if="cartList.length > 0">
                        <div class="num">已选 {{ sumTotal }} 件商品</div>
                        <div class="flex flex-middle">
                            <div class="total">
                                合计：<span class="font-color">¥{{ sumPrice }}</span></div>
                            <div class="bnt bg-color cursor" @click="btnConfirm()">去结算</div>
                        </div>
                    </div>
                </template>

                <template v-else>
                    <div class="cart-empty flex-center">
                        <div class="left">
                            <i class="iconfont">&#xe607;</i>
                        </div>
                        <div class="right">
                            <div class="text">购物车空空的哦~，去看看心仪的商品吧~</div>
                            <a class="go-buy" href="{:url('/')}"><span>去购物</span><i class="iconfont">&#xe622;</i></a>
                        </div>
                    </div>
                </template>

            </div>

        </div>

    </div>
</section>
{/block}

{block name="script"}
<script>
    // require(['jquery', 'tip'], ($) => {
    // tip.confirm("请输入意见内容");
    // tip.alert("请输入意见内容");
    // });

    require(['vue', 'h7.axios', 'ajax', 'tip'], (Vue, axios, $) => {

        new Vue({
            el: '#cart-main',
            data: {
                cartList: [],

                selectAll: true,
                sumTotal: 0,
                sumPrice: 0.00,
            },
            mounted() {
                this.getCartList()
            },
            methods: {
                btnConfirm() {
                    let cartids = [];
                    this.cartList.map(item => {
                        if (item.selected && item.total > 0) {
                            cartids.push(item.id);
                        }
                    });
                    if (cartids.length > 0) {
                        location.href = "{:url('order/confirm')}?cartids=" + cartids.join(',');
                    } else {
                        tip.msgbox.err('请选择产品');
                    }
                },
                changeSelectAll() {
                    let sumTotal = 0;
                    let sumPrice = 0.00;
                    this.cartList.map(item => {
                        if (this.selectAll && item.total > 0) {
                            item.selected = 1;
                            sumTotal++;
                            sumPrice += Number((item.goods.marketprice * item.total).toFixed(2));
                        } else {
                            item.selected = 0;
                        }
                    });
                    this.sumTotal = sumTotal;
                    this.sumPrice = sumPrice;
                },
                changeSelectItem(index) {
                    let sumTotal = 0;
                    let sumPrice = 0.00;
                    this.cartList.map(item => {
                        if (item.selected && item.total > 0) {
                            sumTotal++;
                            sumPrice += Number((item.goods.marketprice * item.total).toFixed(2));
                        }
                    });
                    this.sumTotal = sumTotal;
                    this.sumPrice = sumPrice;
                },
                addTotal(index) {
                    if (this.cartList[index]['goods']['total'] === 0 || (this.cartList[index]['goods']['total'] > 0 && this.cartList[index].total >= this.cartList[index]['goods']['total'])) {
                        tip.msgbox.err(`最多添加${this.cartList[index]['goods']['total']}件商品`);
                    } else {
                        this.cartList[index].total++;
                        ajax.post("{:url('cart/edit')}", {id: this.cartList[index].id, total: this.cartList[index].total});
                        this.changeSelectItem(index);
                    }
                },
                reduceTotal(index) {
                    if (this.cartList[index].total > 1) {
                        this.cartList[index].total--;
                        ajax.post("{:url('cart/edit')}", {id: this.cartList[index].id, total: this.cartList[index].total});
                        this.changeSelectItem(index);
                    }
                },
                getCartList() {
                    let url = "{:url('cart/list')}";
                    axios.post(url).then((res) => {
                        this.cartList = res.cartList;
                        this.changeSelectAll();
                        console.log(res);
                    });
                },
                deleteCart(index) {
                    tip.confirm("确认要删除该商品么?", () => {
                        let url = "{:url('cart/delete')}";
                        axios.post(url, {id: this.cartList[index].id}).then((res) => {
                            this.cartList.splice(index, 1);
                        });
                    });
                },
            }
        });

    });
</script>
{/block}