{extend name="pc/common/_base" /}

{block name="title"}
<title>确认订单-{$website['title']}</title>
{/block}

{block name="style"}
<link rel="stylesheet" href="{$moduleAttachUrl}/static/css/order.css">
{/block}

{block name="main"}

{include file="pc/components/app-address-dialog" /}

<div class="order-confirm">

    <div class="container" id="orderConfirm" v-cloak>

        <!-- 面包屑 -->
        <div class="bread-crumb row">
            <div class="detail-path">
                <a href="{:url('/')}">首页</a>

                <template v-if="categoryInfo">
                    <i class="icon iconfont">&#xe603;</i>
                    <a :href="categoryInfo.url">{{ categoryInfo.name }}</a>
                </template>

                <template v-if="goodsInfo">
                    <i class="icon iconfont">&#xe603;</i>
                    <a :href="goodsInfo.url">{{ goodsInfo.title }}</a>
                </template>

                <i class="icon iconfont">&#xe603;</i>
                <span>提交订单</span>
            </div>
        </div>
        <!-- 面包屑end -->

        <div class="content" v-if="goodsInfo">

            <template v-if="parseInt(goodsInfo.type) === 1">
                <div class="address">
                    <div class="title">收货地址</div>
                    <div class="lines">
                        <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAABLAAAAAECAYAAACeNca/AAAAAXNSR0IArs4c6QAAADhlWElmTU0AKgAAAAgAAYdpAAQAAAABAAAAGgAAAAAAAqACAAQAAAABAAAEsKADAAQAAAABAAAABAAAAAAdekyeAAABbUlEQVR4Ae2asW3DMBBFSWqGACkzRHprgyCbZASPEHiRjJC4TlYIkD4zWIyPd8WXzcZKw+KpkSCIBPHw+HWimNP5eHj5nae6vNv1pqPW4/fhfr5sW98e51TK9n5TPeanz6t+Ga+Thq9zwAd8cAL4oBzIB3zAB+qHRH0W04B6soHAB3xYvRj4fnMc5AP5sJoYrD8YjoHfF8XGNy2nvZ23Hqcy7bttS+7f7z7cubnUbnvGG6zg20DgAz4EAXxQEOQDPuCDEsAHpUE+4AM+KAF8UBrkAz7ggxLAB6UxQD4U272Sct7puG66Pq/O/bzefVy2aX//0z/6td1Xz19X/TJeJw1f54AP+OAE8EE5kA/4gA/UD/b3lPrMZgL1ZMsDfIhYxAd8CBUcBN+bxoF8CCnIB58WY9cPhd0r4esAq4kxktWJ3W2Bg914DQQ+4IMGBD7gAz4oAXxQGuQDPuCDEsAHpUE+4AM+KAF8UBqj58MfRyl5tp+pqv4AAAAASUVORK5CYII=">
                    </div>
                    <div class="list acea-row row-middle">

                        <template v-if="addressList && addressList.length > 0">
                            <div class="item" :class="{'on':addressId === item.id}" v-for="(item,index) in addressList" :key="index" @click="selectAddress(item)">
                                <div class="default bg-color" v-if="item.isdefault">{{ item.isdefault ? '默认' : '' }}</div>
                                <div class="name line1">{{ item.realname }}</div>
                                <div class="phone">{{ item.mobile }}</div>
                                <div class="details line4">
                                    {{ item.province }}{{ item.city }}{{ item.area }}{{ item.address }}
                                </div>
                                <i class="iconfont icon-xuanzhong4 font-color" v-if="addressId === item.id">&#xeb0e;</i>
                            </div>
                        </template>

                        <div class="item add" @click="addAddress()">
                            <i class="iconfont">&#xe621;</i>
                            <div class="tip">添加新地址</div>
                        </div>

                    </div>
                </div>
            </template>

            <div class="wrapper">
                <div class="title">订单信息</div>
                <div class="order">
                    <div class="list">

                        <template v-if="parseInt(goodsInfo.type) === 1">
                            <div class="item acea-row row-between-wrapper">
                                <div class="txtPic acea-row row-middle">
                                    <div class="pictrue"><img :src="goodsInfo.thumb" onerror="this.src='{$moduleAttachUrl}/static/images/default-img.png'"></div>
                                    <div class="text">
                                        <div class="name line2">{{goodsInfo.title}}</div>
                                        <div class="info">单位：{{goodsInfo.unit}}</div>
                                    </div>
                                </div>
                                <div>
                                    <span class="money">¥{{goodsInfo.marketprice}}</span>
                                    <span class="num">x{{ total }}</span>
                                    <span class="font-color">{{Number((goodsInfo.marketprice * total).toFixed(2))}}</span>
                                </div>
                            </div>
                        </template>

                        <template v-if="parseInt(goodsInfo.type) === 2">
                            <div class="item acea-row row-between-wrapper">
                                <div class="txtPic acea-row row-middle">
                                    <div class="course"><img :src="goodsInfo.thumb" onerror="this.src='{$moduleAttachUrl}/static/images/default-img.png'"></div>
                                    <div class="text">
                                        <div class="name line2">{{goodsInfo.title}}</div>
                                        <div class="info" v-if="teacherInfo">导师：{{teacherInfo.name}}</div>
                                    </div>
                                </div>
                            </div>
                        </template>

                    </div>

                    <div class="coupon" style="display: none;">
                        <div class="couponTitle acea-row row-between-wrapper">
                            <div>使用优惠券</div>
                            <!--<div class="couponPrice font-color">-¥0</div>-->
                            <div class="couponPriceNo font-color">无可用优惠券</div>
                        </div>
                        <div class="couponList acea-row row-middle">
                            <!--<div class="item acea-row row-middle">
                                <div class="name">通用券</div>
                                <div class="money">满0减20</div>
                            </div>-->
                        </div>
                    </div>

                    <!--<div class="coupon">
                        <div class="couponTitle acea-row row-between-wrapper">
                            <div>积分抵扣</div>
                            <div class="couponPriceNo font-color">无可使用积分</div>
                        </div>
                    </div>-->

                    <div class="coupon message acea-row" v-if="parseInt(goodsInfo.type) === 1">
                        <div class="msgTitle">买家留言</div>
                        <textarea placeholder="填写内容与商家协商并确认，限150字内~" maxlength="150" class="textarea" v-model="remark"></textarea>
                    </div>

                </div>

                <template v-if="parseInt(goodsInfo.type) === 1">
                    <div class="totalCon">
                        <div class="total acea-row row-middle row-right">
                            <div><span class="font-color">{{ total }} </span>件商品，总商品金额：</div>
                            <div class="money">¥{{ Number((goodsInfo.marketprice * total).toFixed(2)) }}</div>
                        </div>
                    </div>
                </template>

                <div class="totalAmount">
                    应付总额：<span class="money font-color">¥{{Number((goodsInfo.marketprice * total).toFixed(2))}}</span>
                </div>
                <div class="bnt acea-row row-right">
                    <a class="submit bg-color" @click="submitOrder()">
                        提交订单
                    </a>
                </div>
            </div>

            <!-- 地址模板 start -->
            <app-address-dialog :show="dialogShow" @confirm="confirmAddress" @cancel="cancelAddress"></app-address-dialog>
            <!-- 地址模板 end -->

        </div>

    </div>

</div>

{/block}

{block name="script"}
<script>
    require(['vue', 'h7.axios'], (Vue, axios) => {

        new Vue({
            el: '#orderConfirm',
            data: {
                dialogShow: false,

                addressList: null,
                goodsInfo: null,
                categoryInfo: null,
                teacherInfo: null,

                cartIds: "{$cartIds}",
                addressId: 0,
                remark: "",

                goodsId: "{$id}",
                total: "{$total}",
            },
            computed: {},
            mounted() {
                this.getGoodsInfo();
            },
            methods: {
                submitOrder() {
                    let url = "{:url('order/create')}";
                    axios.post(url, {id: this.goodsId, type: this.goodsInfo.type, total: this.total, addressId: this.addressId, cartIds: this.cartIds, remark: this.remark}).then((res) => {
                        location.href = "{:url('order/payment')}" + "?ordersn=" + res.ordersn;
                    });
                },

                getGoodsInfo() {
                    console.log('cartids');
                    let url = "{:url('goods/detail')}";
                    axios.post(url, {id: this.goodsId, total: this.total}).then((res) => {
                        this.goodsInfo = res.goodsInfo;
                        this.categoryInfo = res.categoryInfo;

                        if (res.goodsInfo) {
                            if (parseInt(res.goodsInfo.type) === 1) {
                                this.getAddressList()
                            } else {
                                this.getTeacherDetail(res.goodsInfo.teacherid)
                            }

                        }
                    });
                },

                getTeacherDetail(teacherid) {
                    let url = "{:url('teacher/detail')}";
                    axios.post(url, {id: teacherid}).then((res) => {
                        this.teacherInfo = res.teacherInfo || {};
                    });
                },

                selectAddress(item) {
                    this.addressId = item.id
                },
                getAddressList() {
                    let url = "{:url('address/list')}";
                    axios.post(url, {}).then((res) => {
                        this.addressList = res.addressList || [];
                        if (this.addressList.length > 0 && this.addressId <= 0) {
                            this.addressList.map(item => {
                                if (item.isdefault) {
                                    this.addressId = item.id
                                }
                            })
                        }
                    });
                },
                addAddress() {
                    this.dialogShow = true
                },
                confirmAddress(o) {
                    // console.log('confirmAddress',o.addressId);
                    this.dialogShow = false;
                    this.getAddressList();
                    this.addressId = o.addressId;
                },
                cancelAddress() {
                    this.dialogShow = false;
                    this.getAddressList();
                },

            }
        });

    });
</script>
{/block}