{extend name="pc/common/_base" /}

{block name="title"}
<title>订单支付-{$website['title']}</title>
{/block}

{block name="style"}
<link rel="stylesheet" href="{$moduleAttachUrl}/static/css/payment.css">
{/block}

{block name="main"}
<div class="order-payment">

    <div class="container" id="orderPayment" v-cloak>

        <!-- 面包屑 -->
        <div class="bread-crumb row">
            <div class="detail-path">
                <a href="{:url('/')}">首页</a>
                <i class="icon iconfont">&#xe603;</i>
                <span>订单支付</span>
            </div>
        </div>
        <!-- 面包屑end -->

        <div class="content">

            <template v-if="orderInfo">

                <div class="orderTip">
                    <div>{{ orderInfo.status === 0 ? '订单提交成功！去付款咯~' : '订单超时，请重新下单~' }}</div>
                    <div class="times flex flex flex-middle">
                        <div>剩余时间：</div>
                        <div class="time flex row-middle">
                            <span class="red"> </span>
                            <span class="timeTxt red"> </span>
                            <span class="styleAll">{{ time.hour }}</span>
                            <span class="timeTxt red"> 小时 </span>
                            <span class="styleAll">{{ time.minute }}</span>
                            <span class="timeTxt red"> 分钟 </span>
                            <span class="styleAll">{{ time.second }}</span>
                            <span class="timeTxt red">秒 </span>
                        </div>
                    </div>
                </div>

                <div class="detail">
                    <div class="item">订单编号：{{ orderInfo.ordersn }}</div>
                    <div class="item">
                        订单价格：<span>{{ orderInfo.price }}元</span>
                    </div>
                    <div class="item line1" v-if="parseInt(orderInfo.service_type) === 1">
                        收货信息：{{ orderInfo.orderData.address.realname }} {{ orderInfo.orderData.address.mobile }}
                        {{ orderInfo.orderData.address.province }} {{ orderInfo.orderData.address.city }} {{ orderInfo.orderData.address.area }} {{ orderInfo.orderData.address.address }}
                    </div>
                    <div class="item line1" v-if="parseInt(orderInfo.service_type) === 2">
                        <span>课程名称：</span>
                        <span>{{ orderInfo.goods.title }}</span>
                    </div>
                </div>

                <div class="payType" v-if="orderInfo.status === 0">
                    <div class="title">选择以下支付方式</div>
                    <div class="type flex flex-middle">
                        <div class="item flex flex-center" :class="{'on':payType === 'credit'}" @click="pay('credit')">
                            <div class="iconfont icon-yuepay">&#xe629;</div>
                            <div>
                                <div class="name">余额支付</div>
                                <div class="yue">余额：{$memberInfo['credit2']}</div>
                            </div>
                            <div class="iconfont icon-selected font-color" v-if="payType === 'credit'">&#xeb0e;</div>
                        </div>
                        <a class="item flex flex-center" :class="{'on':payType === 'wechat'}" @click="pay('wechat')">
                            <div class="iconfont icon-wechat">&#xe689;</div>
                            <div>
                                <div class="name">微信支付</div>
                            </div>
                            <div class="iconfont icon-selected font-color" v-if="payType === 'wechat'">&#xeb0e;</div>
                        </a>
                        <a class="item flex flex-center" :class="{'on':payType === 'alipay'}" @click="pay('alipay')">
                            <div class="iconfont icon-alipay">&#xe628;</div>
                            <div>
                                <div class="name">支付宝支付</div>
                            </div>
                            <div class="iconfont icon-selected font-color" v-if="payType === 'alipay'">&#xeb0e;</div>
                        </a>
                    </div>
                    <div class="goPay flex flex-row-end">
                        <div class="bnt bg-color" @click="goPay()">去支付</div>
                    </div>
                </div>

            </template>

            <template v-else>
                {include file="pc/common/_empty"/}
            </template>

        </div>

    </div>

</div>

{/block}

{block name="script"}
<script>
    let timer = null;
    require(['vue', 'h7.axios', 'jquery', 'tip'], (Vue, axios, $) => {
        new Vue({
            el: '#orderPayment',
            data: {
                ordersn: "{$ordersn}",
                orderInfo: null,
                payType: 'credit',
                time: {
                    day: 0,
                    hour: '00',
                    minute: '00',
                    second: '00',
                },
            },
            mounted() {
                this.getOrderInfo();
            },
            methods: {
                goPay() {
                    this.pay(this.payType);
                },
                pay(type) {
                    this.payType = type;
                    let url = '';
                    switch (type) {
                        case 'credit':
                            break;
                        case 'wechat':
                            url = "<?php echo url('order/wechat'); ?>";
                            break;
                        case 'alipay':
                            url = "<?php echo url('order/alipay'); ?>";
                            break;
                    }

                    if (this.orderInfo.status !== 0) {
                        tip.confirm("该订单已超时", () => {
                            history.back();
                        });
                        return false;
                    }

                    if (url) {
                        location.href = url + `?ordersn=${this.ordersn}&price=${this.orderInfo.price}`;
                    } else {
                        axios.post("{:url('order/credit')}", {ordersn: this.ordersn}).then((res) => {
                            tip.msgbox.suc("订单支付成功");
                            setTimeout(() => {
                                location.href = res.url;
                            }, 1500)
                        });
                    }
                },
                getOrderInfo() {
                    let url = "{:url('order/detail')}";
                    axios.post(url, {ordersn: this.ordersn}).then((res) => {
                        this.orderInfo = res.orderInfo;
                        this.startTimer();
                    });
                },
                cancelOrder(ordersn) {
                    let url = "{:url('order/cancel')}";
                    axios.post(url, {ordersn: ordersn}).then((res) => {
                        this.orderInfo.status = '-1';
                        this.orderInfo.status_val = '已关闭';
                    });
                },
                // 倒计时 start
                startTimer() {
                    this.updateTimer();

                    let count = 0;
                    timer = setInterval(() => {
                        count++;
                        if (count > 100) {
                            this.stopTimer();
                            this.startTimer();
                        }
                        this.updateTimer();
                    }, 1000);
                },
                stopTimer() {
                    clearTimeout(timer);
                },
                updateTimer() {
                    let end = this.orderInfo.createtime;
                    // console.log(end);

                    let now = new Date();
                    let addHour = 2 * 3600 * 1000; // 2个小时
                    let endTime = new Date(Date.parse(end.replace(/-/g, "/")) + addHour);
                    let nowTime = now.getTime();

                    // console.log('endTime', endTime);
                    // console.log('nowTime', nowTime);

                    let lag = (endTime - nowTime) / 1000; //当前时间和结束时间之间的秒数
                    if (lag > 0) {
                        let second = Math.floor(lag % 60) + "";
                        let minute = Math.floor((lag / 60) % 60) + "";
                        let hour = Math.floor((lag / 3600) % 24) + "";
                        let day = Math.floor((lag / 3600) / 24) + "";

                        // console.log('second', second);
                        // console.log('minute', minute);
                        // console.log('hour', hour);
                        // console.log('day', day);

                        this.time = {
                            second: second.length === 1 ? '0' + second : second,
                            minute: minute.length === 1 ? '0' + minute : minute,
                            hour: hour.length === 1 ? '0' + hour : hour,
                            day: day.length === 1 ? '0' + day : day,
                        }
                    } else {
                        if (this.orderInfo.status === 0) {
                            this.cancelOrder(this.orderInfo.ordersn);
                        }
                        this.stopTimer();
                    }
                }
                // 倒计时 start
            }
        })
    });
</script>
{/block}